.main-site{
  .wrap-list-item{
    background: #F3F4F5 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-top: 53px;
    ul{
      margin: 0px;
      li{
        margin-right: 41px;
      .active {
          display: inline-block;
          color: #000;
          text-decoration: none;
          color:#075AA5;
          font-weight: 550;
      }
      .active::after{
          content: '';
          display: block;
          width: 1;
          height: 3px;
          background: #075AA5;
          margin-top: 30px;
          width:100%;
          text-decoration: blink;
	        -webkit-animation-name: blinker;
	        -webkit-animation-duration: 0.75s;
	        -webkit-animation-timing-function:ease-out;
	        -webkit-animation-direction: alternate;
      }
      @-webkit-keyframes blinker {
        from {width: 90%;}
        to {width: 100%;}
      }
        a{
          color:#34495B;
          font-size: 16px;
          line-height: 25px;
          text-decoration: none;
          text-transform: capitalize;
        }
      }
      }
    }
  }
  .wrap-group-items{
    padding-top: 41px;
    padding-bottom: 41px;
    .vertical-line{
      border-right: 2px solid #F3F4F5;
      display: table-cell;
    }
    .btn-group-items{
      .btn-site{
        border-radius: 24px 24px 24px 24px !important;
        background-color: #075AA5 !important;
        border: 1px solid #075AA5 !important;
        opacity: 1 !important;
        padding:9px 21px !important;
        font-size: 16px !important;
        color:#fff !important;
        &:hover,&:active,&:focus{
          background-color: #043662 !important;
          border: 1px solid #043662 !important;
          color:#FFFFFF;
        }
      }
      .btn-new-site{
        -moz-animation: hideShow 0.75s ease; /* Firefox */
        -webkit-animation: hideShow 0.75s ease-in-out ; /* Safari and Chrome */
        -ms-animation: hideShow 0.75s ease; /* IE10 */
        -o-animation: hideShow 0.75s ease ; /* Opera */
      }
      .btn-site-dns{
        border-radius: 24px 24px 24px 24px !important;
        background: #D9DDE0 0% 0% no-repeat padding-box !important;
        border: 1px solid #D9DDE0 !important;
        opacity: 1 !important;
        padding:9px 21px !important;
        font-size: 16px !important;
        color:#FFFFFF !important;
        -moz-animation: showHide 0.75s ease-out; /* Firefox */
        -webkit-animation: showHide 0.75s ease-out ; /* Safari and Chrome */
        -ms-animation: showHide 0.75s ease-out ; /* IE10 */
        -o-animation: showHide 0.75s ease-out ; /* Opera */
        &:hover,&:active,&:focus{
          background-color: #c7cdd1 !important;
          border: 1px solid #c7cdd1 !important;
          color:#FFFFFF;
        }
      }
    @-webkit-keyframes showHide { /* Chrome, Safari */
      from 
      {
         width: 109px;
        
      }
      to{
        width:147.86px;
      }
  }
  @-webkit-keyframes showHide { /* Chrome, Safari */
    from 
    {
       width: 109px;
      
    }
    to{
      width:147.86px;
    }
}
  @-moz-keyframes showHide { /* FF */
    from 
      {
         width: 109px;
        
      }
      to{
        width:147.86px;
      }
  }
  @-ms-keyframes showHide { /* IE10 */
    from 
    {
       width: 109px;
      
    }
    to{
      width:147.86px;
    }
  }
  @-o-keyframes showHide { /* Opera */
    from 
    {
       width: 109px;
      
    }
    to{
      width:147.86px;
    }
  }
  @keyframes showHide {
    from 
      {
         width: 109px;
        
      }
      to{
        width:147.86px;
      }
  }
  @-webkit-keyframes hideShow { /* Chrome, Safari */
    from {
      width:147.86px;
    }
    to 
    {
       width: 109px;
    }
}
@-moz-keyframes hideShow { /* FF */
  from {
    width:147.86px;
  }
  to 
  {
     width: 109px;
  }
}
@-ms-keyframes hideShow { /* IE10 */
  from {
    width:147.86px;
  }
  to 
  {
     width: 109px;
  }
}
@-o-keyframes hideShow { /* Opera */
  from {
    width:147.86px;
  }
  to 
  {
     width: 109px;
  }
}
@keyframes hideShow {
  from {
    width:147.86px;
  }
  to 
  {
     width: 109px;
  }
 
}
 
  
      #btn-site-dns{
        transition: .6s ease opacity,.6s ease transform;
      }
      .dropdown{
          .dropdown-menu{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 10px 30px #00000029;
            border-radius: 4px;
            
            opacity: 0.98;
            border: unset;
          }
          ul{
            width:360px !important;
            padding-bottom: 15px !important;
            padding-top: 15px !important;
            padding-right: 15px !important;
            margin-top: 16px !important;
            li{
              .item1{
                margin-bottom: 31px;
              }
              .item2{
                margin-top: 31px;
              }
              a{
                  img{
                    width:56px;
                    height: auto;
                  }
                
                .list-title{
                  font-size: 16px;
                  line-height: 23px;
                  color:#34495B;
                }
               
              }
              a:hover{
                background-color: unset !important;
              }

            }
          }
        
      
      }
    }
      .wrap-cards-item{
        padding-bottom: 360px;
          .card{
            border: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 183px;
            margin-top: 30px;
            width:100%;
            background: #F3F4F5 0% 0% no-repeat padding-box !important;
            opacity: 1 !important;
            border-radius: 7px 7px 0px 0px !important;
            .card-block{
              text-align: center;
              .card-title {
                font-size: 16px;
                color:#34495b;
                padding-top: 0.5em;
                width:8rem;
              }
            }
          }
          .card-experience-fragement{
            .card-title{
              width: 9rem !important;
            }
          }
      }
  }



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .main-site{
    .wrap-list-item{
      text-align: center;
      ul{
        li{
          padding: 10px;
        .active::after{
           margin:0px;
        }
        }
      }
    }
    .wrap-group-items{
        padding-top: 30px auto;
        .btn-group-items{
          margin-top: 20px;
          text-align: center;
          display: flex;
          justify-content: center;
        }
        .wrap-cards-item{
          padding-bottom: unset !important;
        }

    }
  }

}