#edit-main {
  background-color: #e6eee0;
}
@media only screen and (min-width: 992px) {
  #edit-main .title h4 {
    font-size: 2rem;
    font-weight: 500;
  }
  #edit-main .title p {
    font-size: 24px;
  }
  #edit-main .alticle {
    padding-top: 10%;
    justify-content: center;
  }
  #edit-main .alticle .text-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #edit-main .alticle .text-icon .icon img {
    width: 56px;
    height: 53px;
  }
  #edit-main .alticle .text-icon .text {
    padding-left: 24px;
  }
  #edit-main .alticle .editorial-mobile {
    display: none;
  }
  #edit-main .editorial {
    width: 100%;
    background-color: #94b778;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #edit-main .editorial a {
    text-align: center;
    text-decoration: none;
    color: #fbfbfa;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 5px 20px;
  }
}
#edit-main .editorial a:active,
#edit-main .editorial a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 992px) and (min-width: 576px) {
  #edit-main .title h4 {
    font-size: 1.2rem;
    font-weight: 500;
  }
  #edit-main .title p {
    font-size: 15px;
  }
  #edit-main .alticle {
    padding-top: 12%;
  }
  #edit-main .alticle .text-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #edit-main .alticle .text-icon .icon img {
    padding-top: 5px;
    width: 56px;
    height: 53px;
  }
  #edit-main .alticle .editorial {
    display: flex;
    width: 100%;
    background-color: #94b778;
    border-radius: 30px;
    justify-content: center;
  }
  #edit-main .alticle .editorial a {
    text-align: center;
    text-decoration: none;
    color: #fbfbfa;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 5px 20px;
  }
  #edit-main .alticle .editorial-mobile {
    display: none;
  }
  #edit-main .editorial {
    display: flex;
    width: 100%;
    background-color: #94b778;
    border-radius: 30px;
    justify-content: center;
  }
  #edit-main .editorial a {
    text-align: center;
    text-decoration: none;
    color: #fbfbfa;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 2px 2px;
  }
}
@media only screen and (max-width: 574px) {
  #edit-main .title {
    margin-bottom: 15px;
  }
  #edit-main .title h4 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
  }
  #edit-main .title p {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
  }
  #edit-main .alticle {
    padding-top: 5%;
    margin: 8px px;
  }
  #edit-main .alticle .text-icon {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #edit-main .alticle .text-icon .icon {
    align-items: center;
  }
  #edit-main .alticle .text-icon .icon img {
    width: 56px;
    height: 56px;
  }
  #edit-main .alticle .text-icon .text {
    padding-left: 8px;
    font-size: 18px;
    font-weight: 400;
  }
  #edit-main .alticle .editorial-mobile {
    width: 100%;
    background-color: #94b778;
    border-radius: 30px;
    margin: 8px 5px;
    display: flex;
    justify-content: center;
  }
  #edit-main .alticle .editorial-mobile a {
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #fbfbfa;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 3px 5px;
  }
  #edit-main .editorial {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */