.main-experience-fragement{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 70px;
  padding-top: 70px;
  padding-bottom: 208px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  .text-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 194px;
    background: #F3F4F5 0% 0% no-repeat padding-box;
    opacity: 1;
    h1 {
      font-size: 24px;
      font-weight: 500;
      line-height: 42px;
      color: #021C33;
      font-weight: 600;
      text-transform: normal;
    }

    p {
      font-size: 14px;
      line-height: 18px;
      color: #021C33;
      text-transform: capitalize;
    }
  }
  .wrap-login {
      margin: 24px auto;
    .loginbox-content {
      padding: 24px 24px 16px;

      form {
        .form-group {
          input[type="text"]{
            color:#677684 !important;
          }
          label {
            font-size: 13px;
            line-height: 32px;
            color: #021C33;
            text-transform: capitalize;
            font-weight: 600;
          }

          ::placeholder {
            font-size: 13px;
            line-height: 32px;
            color: #677684;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}