
  .tag-list-card{
      .list-inline {
        padding-left: 0;
        list-style: none;
      }
      .list-inline-item {
        display: inline-block;
      }
      ul{
        li{
          margin-top:20px;
          a{
            background: #D9DDE0 0% 0% no-repeat padding-box;
            border-radius:24px 24px 24px 24px;
            text-decoration: none;
            font-size: 11px;
            line-height: 24px;
            color:#34495B;
            padding:5px 10px;
          }
        }
      }
    }




// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}