$color_1: #6f8461;
$color_2: #89ac6c;

.container {
	opacity: 1;
	.away {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.check__exspert {
		border: 1px solid #6f8461;
		border-radius: 7px;
		background: #ffffff url(../image/check-expert.png) 2px center/11px no-repeat;
		font-size: 8px;
		padding: 0 5px 0 15px;
		display: inline;
		position: absolute;
		line-height: 17px;
		left: 5px;
		top: 5px;
		color: $color_1;
	}
	.card-hover {
		&:hover {
			border: 3px solid #89ac6c;
			img {
				transform: scale(1);
			}
			.card-text {
				font-size: 16px;
				transform: scale(1);
				color: $color_2;
			}
			.check__exspert {
				transform: scale(1.1);
			}
		}
	}
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
	.container {
		.cards-wrap {
			padding-top: 10px;
		}
		.check__exspert {
			border: 1px solid #6f8461;
			border-radius: 7px;
			background: #ffffff url(../image/check-expert.png) 2px center/11px no-repeat;
			font-size: 8px;
			padding: 0 5px 0 15px;
			display: inline;
			position: absolute;
			line-height: 17px;
			left: 5px;
			top: 5px;
			color: $color_1;
		}
	}
}
@media only screen and (max-width: 768px) and (min-width: 576px) {
	.container {
		.cards-wrap {
			padding-top: 10px;
		}
		.check__exspert {
			border: 1px solid #6f8461;
			border-radius: 7px;
			background: #ffffff url(../image/check-expert.png) 2px center/11px no-repeat;
			font-size: 8px;
			padding: 0 5px 0 15px;
			display: inline;
			position: absolute;
			line-height: 17px;
			left: 5px;
			top: 5px;
			color: $color_1;
		}
	}
}
