$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

.container {
  .away {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .check {
    border: 1px solid #6f8461;
    border-radius: 7px;
    background: #ffffff url(../image/check-expert.png) 2px center / 11px
      no-repeat;
    font-size: 8px;
    padding: 0 5px 0 15px;
    display: inline;
    position: absolute;
    line-height: 17px;
    left: 5px;
    top: 5px;
    color: #6f8461;
    z-index: 2;
  }
  .card-hover:hover {
    border: 3px solid #89ac6c;
    img {
      scale: 1;
    }
    .card-text {
      font-size: 16px;
      scale: 1;
      color: #89ac6c;
    }
    .check {
      scale: 1.1;
    }
  }
}

.container {
  @media only screen and (max-width: 992px) and (min-width: 768px) {
    .cards-wrap {
      padding-top: 10px;
    }
    .check {
      border: 1px solid #6f8461;
      border-radius: 7px;
      background: #ffffff url(../image/check-expert.png) 2px center / 11px
        no-repeat;
      font-size: 8px;
      padding: 0 5px 0 15px;
      display: inline;
      position: absolute;
      line-height: 17px;
      left: 5px;
      top: 5px;
      color: #6f8461;
      z-index: 2;
    }
  }
  @media only screen and (max-width: 768px) and (min-width: 576px) {
    .cards-wrap {
      padding-top: 10px;
    }
    .check {
      border: 1px solid #6f8461;
      border-radius: 7px;
      background: #ffffff url(../image/check-expert.png) 2px center / 11px
        no-repeat;
      font-size: 8px;
      padding: 0 5px 0 15px;
      display: inline;
      position: absolute;
      line-height: 17px;
      left: 5px;
      top: 5px;
      color: #6f8461;
      z-index: 2;
    }
  }
}
