<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BGG</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link href="./css/footer.css"rel="s`tylesheet"/> -->
    <!-- icon support with fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body class="background-color: lightgray">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <!-- header-personal  -->
          <div class="detail-article mb-5">
            <div class="link-details">
              <a href="#">Personal Fitness</a>
              <span></span>
              <a href="#">Motivation to Exercise</a>
            </div>
            <div class="heading-detail">
              <h3>
                How to Start Working Out if You're Out of Shape: Tips & Beginner
                Exercises
              </h3>
              <div class="download">
                <p class="lead">
                  <i>
                    Achieve your fitness goals and reap the benefits of working
                    out
                  </i>
                </p>
                <div class="pdf">
                  <div class="icon-pdf">
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/858/858962.png"
                      alt=""
                    />
                  </div>
                  <p>Download Article</p>
                </div>
              </div>
            </div>
            <div class="References-detail">
              <p>
                Co-authored by <span class="name-rfn">Laila Ajani</span> and
                <span class="name-rfn">Dev Murphy, MA</span>
              </p>
              <a href="#"
                >Last Updated: August 27, 2023<span class="icon-book"></span>
                References</a
              >
            </div>
            <div class="ul-detail">
              <p class="li-detail">
                <a href="">Best Workouts for Beginners</a>
                <a href="">Exercising for Beginners</a>
                <a href="">Benefits of Getting in Shape</a>
                <a href="">Expert Interview</a>
                <a href="">Expert Q&A</a>
              </p>
            </div>
            <p class="lead">
              Regular exercise offers mondo benefits to your physical and mental
              health, but developing an exercise routine can seem daunting if
              you haven’t worked out in a while. If this is you, don’t worry—you
              can do it! You just have to take it slow, go easy on yourself, and
              try to have fun. Ready to get movin'? Keep reading for our expert
              tips to exercising when you’re out of shape, below.
            </p>
          </div>
          <!-- end header personal -->

          <!-- start Things You Should Know -->
          <div class="things-detail">
            <div class="header-things main-header bg-white">
              <div class="empty-color"></div>
              <p>Things You Should Know</p>
            </div>
            <ul class="ul-things">
                <li class="li-things">When you’re just starting to work out, opt for low-impact, slow workouts as you figure out your body’s limitations.</li>
                <li class="li-things">Find activities you enjoy to make working out more fun, or work out with a buddy for accountabili class="li-things"ty and support.</li>
                <li class="li-things">Get into beginner-friendly activities like walking, yoga, or swimming—activities you can easily modify to sui class="li-things"t your needs.</li>
            </ul>
          </div>
           <!-- ended Things You Should Know -->
           <!-- https://www.wikihow.com/Start-Exercising-when-You%27re-Out-of-Shape -->
           <!-- detail step -->
           <div class="Best-detail">
            <div class="header-Best main-header bg-white">
              <div class="empty-color"></div>
              <p class="Best-text">Best Workouts for Beginners</p>
              <div class="download m-3 right-best">
                <div class="pdf">
                  <div class="icon-pdf">
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/858/858962.png"
                      alt=""
                    />
                  </div>
                  <p>Download Article</p>
                </div>
              </div>
            </div>
            <div class="img-best">
              <img src="https://www.wikihow.com/images/thumb/6/6e/Start-Exercising-when-You%27re-Out-of-Shape-Step-1.jpg/v4-728px-Start-Exercising-when-You%27re-Out-of-Shape-Step-1.jpg.webp" alt="">
            </div>
            <div class="best-wrapper">
              <div class="step-num"></div>
              <div class="step-best">
                <strong class="walking">Walking</strong>
                <p class="step-p">
                  Just walking for a few extra minutes each day can really make a difference. Plus, being outside in the fresh air, especially around nature, can really boost your mental health.[1] Build a walk around your neighborhood with your morning coffee into your daily routine, or next time you hang out with a friend, invite them to hike in your local park instead of crashing in front of the television.</p>
                  <ul class="step-ul">
                    <li class="step-li">If you’re mostly sedentary, try adding in a 10-minute walk to your day to start, and increase the amount of time every day. Add little moments of walking into your day—for instance, get off the bus a few stops earlier and walk the rest of the way home.</li>
                  </ul>
              </div>
            </div>
          </div>
          <div class="Best-detail mt-3">
            <div class="img-best">
              <img src="https://www.wikihow.com/images/thumb/7/7e/Start-Exercising-when-You%27re-Out-of-Shape-Step-2.jpg/v4-728px-Start-Exercising-when-You%27re-Out-of-Shape-Step-2.jpg.webp" alt="">
            </div>
            <div class="best-wrapper">
              <div class="step-num num-two"></div>
              <div class="step-best">
                <strong class="walking">
                  Bodyweight exercises</strong>
                <p class="step-p">
                  It’s important to follow a well-rounded exercise routine that includes both cardio and strength training. But when you’re a novice lifter, getting a gym membership—let alone working out in front of people—can feel a little overwhelming (and expensive). Luckily, there are a lot of strength training exercises you can do anywhere, without any supplies except your own body.</p>
                  <ul class="step-ul">
                    <li class="step-li"><a href="" class="step-href">Try crunches</a>,<a class="step-href" href=""> wall-sits</a>, and <a class="step-href" href="">push-ups</a> for great strength training workouts that require no special equipment.</li>
                  </ul>
              </div>
            </div>
          </div>
          <div class="Best-detail mt-3">
            <div class="img-best">
              <img src="https://www.wikihow.com/images/thumb/d/d3/Start-Exercising-when-You%27re-Out-of-Shape-Step-3.jpg/v4-728px-Start-Exercising-when-You%27re-Out-of-Shape-Step-3.jpg.webp" alt="">
            </div>
            <div class="best-wrapper">
              <div class="step-num num-three"></div>
              <div class="step-best">
                <strong class="walking">Spin class</strong>
                <p class="step-p">
                  <a class="step-href" href="#">Spinning</a> is a great form of exercise for the novice health nut because it’s super easy to modify the workout to your comfort and ability levels. Not only that, a class offers you the added social benefits of an enthusiastic teacher and fellow students. You’ll feel supported by your community of spinners and maybe even develop some new friendships.</p>
                  <ul class="step-ul">
                    <li class="step-li">If you’re worried about exercising in front of a group of strangers, don’t worry—many spinning classes take place in dimly lit rooms, meaning if you need to slow down or stop, nobody is likely to notice.
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12">
              <Article class="aside">
                <div class="verify"><img src="./image/verify.svg" alt=""></div>
                <div class="img-expert">
                  <img src="https://www.wikihow.com/images/thumb/6/61/Laila_Ajani.png/-crop-100-100-100px-Laila_Ajani.png.webp" alt="">
                </div>
                <div class="heading-expert">
                  <p>Co-authored by:</p>
                  <a href="#">Laila Ajani</a>
                  <p>Fitness trainer</p>
                </div>
              </Article>
              <!--  -->
              <Article class="aside-two">
                <div class="view-expert">
                  <p class="heading-v">Co-authors:</p>
                  <p class="values">7</p>
                </div>
                <div class="view-expert">
                  <p class="heading-v">Updated:</p>
                  <p class="values"> August 27,<br> 2023</p>
                </div>
                <div class="view-expert">
                  <p class="heading-v">Views:</p>
                  <p class="values"> 24,583</p>
                </div>
              </Article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
