<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BGG</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link href="./css/footer.css"rel="s`tylesheet"/> -->
    <!-- icon support with fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body class="background-color: lightgray">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <!-- header-personal  -->
          <div class="detail-article mb-5">
            <div class="link-details">
              <a href="#">Personal Fitness</a>
              <span></span>
              <a href="#">Motivation to Exercise</a>
            </div>
            <div class="heading-detail">
              <h3>
                How to Start Working Out if You're Out of Shape: Tips & Beginner
                Exercises
              </h3>
              <div class="download">
                <p class="lead">
                  Achieve your fitness goals and reap the benefits of working
                  out
                </p>
                <div class="pdf">
                  <div class="icon-pdf">
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/858/858962.png"
                      alt=""
                    />
                  </div>
                  <p>Download Article</p>
                </div>
              </div>
            </div>
            <div class="References-detail">
              <p>
                Co-authored by <span class="name-rfn">Laila Ajani</span> and
                <span class="name-rfn">Dev Murphy, MA</span>
              </p>
              <a href="#"
                >Last Updated: August 27, 2023<span class="icon-book"></span>
                References</a
              >
            </div>
            <div class="ul-detail">
              <p class="li-detail">
                <a href="">Best Workouts for Beginners</a>
                <a href="">Exercising for Beginners</a>
                <a href="">Benefits of Getting in Shape</a>
                <a href="">Expert Interview</a>
                <a href="">Expert Q&A</a>
              </p>
            </div>
            <p class="lead">
              Regular exercise offers mondo benefits to your physical and mental
              health, but developing an exercise routine can seem daunting if
              you haven’t worked out in a while. If this is you, don’t worry—you
              can do it! You just have to take it slow, go easy on yourself, and
              try to have fun. Ready to get movin'? Keep reading for our expert
              tips to exercising when you’re out of shape, below.
            </p>
          </div>
          <!-- end header personal -->

          <!-- start Things You Should Know -->
          <div class="things-detail">
            <div class="header-things">
              <div class="empty-color"></div>
              <p>Things You Should Know</p>
            </div>
            <ul class="ul-things">
                <li class="li-things">When you’re just starting to work out, opt for low-impact, slow workouts as you figure out your body’s limitations.</li>
                <li class="li-things">Find activities you enjoy to make working out more fun, or work out with a buddy for accountabili class="li-things"ty and support.</li>
                <li class="li-things">Get into beginner-friendly activities like walking, yoga, or swimming—activities you can easily modify to sui class="li-things"t your needs.</li>
            </ul>
          </div>
           <!-- ended Things You Should Know -->
           <!-- https://www.wikihow.com/Start-Exercising-when-You%27re-Out-of-Shape -->
        </div>
        <div class="col-lg-4 bg-primary">2</div>
      </div>
    </div>
  </body>
</html>
