body{
    background-color: lightgray;
}
a{
    text-decoration: none;
    color: #307530;
}
// globle style
img{
    width: 100%;
}
.download{
    display: flex;
    .pdf{
        display: flex;
        margin-left: 4rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        backdrop-filter: invert(2%);
        padding: 5px 20px;
        border-radius: 10px;
        .icon-pdf{
            margin-right: 7px;
            img{
                width: 30px;
            }
        }
    }
}

.step-num{
    display: flex;
    content: '.';
    &::after{
        font-size: 65px;
        font-weight: bold;
    }
}
.main-header{
    position:-webkit-sticky; 
    position:sticky;
    top:0;
    z-index: 100;
    height:74.188px;
}
// ended globle style
.detail-article{
    padding: 10px 30px;
    background-color: white;
    .heading-detail{
        h3{
            font-size: 43px;
            font-weight: bold;
        }
    }
    .References-detail{
        font-size: 19px;
      .name-rfn{
        color: #307530;
      }  
    }
    .ul-detail{
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 0;
        .li-detail{
            a{
                font-size: 19px;
                margin-right: 10px;
                padding: 0 10px 0 0;
                &:hover{
                    text-decoration: underline;
                    color: #307530;
                }
            }
            &::after,a{
                border-right: 2px solid lightgray;
                margin: 2px 2px 4px 0;
            }
            &::after, a:last-child{
                border-right: none !important;
            }
        }
    }
}
// <main class="main-container">
//   <header class="main-header">HEADER</header>
//   <div class="main-content">MAIN CONTENT</div>
//   <footer class="main-footer">FOOTER</footer>
// </main>
//
.things-detail{
    background-color: white;
    border-radius: 7px;
    .header-things{
        overflow: hidden;
        box-shadow: 0 1px #ffe8e8;
        border: 1px solid lightgray;
        
        width: 100%;
        display: flex;
        gap: 2rem;
        .empty-color{
            overflow: hidden;
            width: 5%;
            background-color: #3dc83d;
        }
        p{
            padding: 15px 5px 0 0;
            font-size: 1.8rem !important    ;
            font-weight: bold;
        }
    }
    .ul-things{
        padding: 30px 70px;
        .li-things{
            font-size: 18px;
            margin-bottom: 15px;
        }
    }
}

//
.Best-detail{
    background-color: white;
    border-radius: 7px;
    .header-Best{
        overflow: hidden;
        box-shadow: 0 1px #ffe8e8;
        border: 1px solid lightgray;
        
        width: 100%;
        display: flex;
        gap: 2rem;
        .empty-color{
            overflow: hidden;
            width: 5%;
            background-color: #3dc83d;
        }
        .Best-text{
            padding: 15px 5px 0 0;
            font-size: 1.8rem !important    ;
            font-weight: bold;
        }
        .right-best{
            margin-left: 100px;
        }
    }
    .best-wrapper{
        padding: 15px 37px;
        .step-num, .step-best {
            display: inline;
        }
        .step-best{
            position: relative;
            margin-left: 10px;
            .walking{
                position: absolute;
                top: -40px;
                font-size: 23px;
                font-weight: 700;
            }
            .step-p{
                display: inline;
                font-size: 20px;
            }
            .step-ul{
                margin-left: 25px;
            }
            .step-li{
                font-size: 20px;
            }

        }
    }
    .step-num{
        &::after{
            content: '1';
        }
    }
    .num-two{
        &::after{
            content: '2';
        }
    }
    .num-three{
        &::after{
            content: '3';
        }
    }
    .step-href:hover{
        color: #3dc83d;
        text-decoration: underline;
    }
}


//aside

.aside{
    background-color: #f1fff1;
    padding: 8px;
    border-radius: 7px 7px 0 0;
    display: flex;
    .verify{
        position: relative;
        img{
            position: absolute;
            width: 25px;
            bottom: 0;
            margin-left: 60px;
        }
    }
    .img-expert{
        overflow: hidden;
        img{
            width: 82px;
        }
    }
    .heading-expert{
        margin-left: 15px;
        & :nth-child(1),& :last-child {
            font-size: 15px;
            margin: 0;
        }
        & :nth-child(2){
            margin: 0;
            font-size: 28px;
            color: rgb(48, 48, 48);
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.aside-two{
    display: flex;
    background-color: white;
    box-shadow: 0 1px #ffe8e8;
    border: 1px solid #e9e9e9;
    padding: 7px 10px;

    .view-expert {
        margin: 7px 25px;
        .heading-v{
            margin: 0;
            font-size: 14px;
        }
        .values{
            font-size: 20px;
            font-weight: 600;
            margin: 0;
        }
    }

}