//general sticky class
.sticky {
  background-color: #93b874;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100px;
  transition: all 0.1s;
}
//all scroll support style all here only with desktop
@media (min-width: 992px) {
  //all scroll only with desktop
  //for nav_bar scroll support
  .nav_bar_component_scroll {
    transition: all 0.1s;
    display: block;
    max-height: 50px;
    // hide class
    .hide {
      transition: all 0.1s;
      display: none;
    }
    // scroll up icon-title-wrapper change
    .rePrepare {
      transition: all 0.1s;
      margin-top: 1px;
    }
    //
    .nav-link {
      transition: all 0.1s;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    //put margin bottom on logo wikiHow
    @media (min-width: 992px) {
      .nav_wrapper .logo-wrapper img {
        transition: all 0.1s;
        width: 162px;
        height: auto;
        margin-top: 10px;
      }
    }
    //search desktop when scrolled
    .search-bar-wrapper .search-container-desk-top {
      position: relative;
      input[type="text"] {
        position: absolute;
        top: -35px;
      }
      button {
        position: absolute;
        top: -30px;
        left: 280px;
        padding: 6px 28px !important;
        i{
          font-size: 15px;
        }
      }
    }
    .icon-title-wrapper{
      // position: relative;
      h5{
        padding-top: 13px !important;
      }
    }
    .category_wrapper {
      position: relative;
      .category_pro_img {
        position: absolute;
        top: -15px;
        right: 7px;
      }
    }
    .drop-cate {
      position: absolute;
      top: 24px;
    }
    //support icon while mobile collapse style
    //specify each dropdown position each item dropdown
    .dropdown-categories {
      .dropdown-menu {
        border: 1px solid white !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 8px !important;
        top: -10px;
        left: -60px;
      }
    }
    .dropdown-categories:hover {
      background-color: unset;
    }
    .dropdown-helpus {
      .dropdown-menu {
        left: -124px !important;
      }
    }
    .dropdown-explore {
      .dropdown-menu {
        border: unset !important;
        top: 13px;
        background-color: unset;
        left: -831px !important;
      }
    }

    .dropdown-login {
      .dropdown-menu {
        top: 78px;
        background-color: unset;
        left: -195px !important;
      }
    }
    .dropdown-random {
      .dropdown-menu {
        left: -80px !important;
      }
    }
  }
}

//for nav_bar general
.nav_bar_component {
  background-color: #93b874;
  @media only screen and (min-width: 992px) {
    // width: 78px;
    height: 75px;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    height: 55px !important;
  }
  @media only screen and (max-width: 767px) {
    // width: 78px;
    height: 40px;
  }
  //global custom used
  //category put background-color unset
  .group_items {
    @media only screen and (min-width: 992px) {
      // max-width: 1050px;
      max-height: 72px;
      margin: 0 auto;
      display: flex;
    }
    .search-container-desk-top {
      width: 400px;
    }
    .logo-wrapper {
      width: 165px;
    }
    .dropdown_help {
      position: absolute;
      top: 75px;
      right: 0;
    }
    .dropdown-menu {
      position: absolute;
      right: 0;
    }
    .dropdown_login {
      position: absolute;
      top: 75px;
      left: auto;
      background-color: #fff !important;
      border-left: 1px solid #89ac6c;
    }
    .dropdown-menu {
      position: absolute;
      top: 75px;
    }
    // .dropdown-of-catrgory {
    //   position: absolute;
    //   top: 72px;
    // }
    .explore-wrapper {
      position: absolute;
      width: 1150px !important;
      height: 1150px !important;
      top: 75px;
      padding-bottom: 30px;
      margin-left: -92px !important;
    }

    .wrap-li {
      position: absolute;
      float: right;
      right: -93%;
      // // max-width: 525px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      .action-li {
        max-width: 78px;
        max-height: 75px;
        display: flex;
        justify-content: center;
        .icon {
          i {
            position: relative;
            top: -10px;
          }
          width: 75px;
          height: 43px;
        }
        .title-head {
          width: 75px;
          height: 25px;
          align-items: center;
          text-align: center;
          font-size: 13px;
          font-weight: 500;
        }
      }
    }
  }
  .bg-unset {
    background-color: unset !important;
  }

  @media (min-width: 992px) {
    // hide class
    .hide {
      transition: all 0.1s;
      display: none;
    }
    // hide icon while scroll up
    .hide_icon {
      transition: all 0.1s;
      display: none;
    }
  }
  .border-unset {
    border: unset !important;
  }

  //border right color
  .border-right-dark {
    border-right: 1px solid #89ac6c;
  }
  //margin bottom 10px
  .mg-bt-10 {
    margin-bottom: 10px;
  }
  //margin-botton{
  @media (max-width: 767px) {
    .mt-20 {
      margin-bottom: 50px;
    }
  }
  //padding 2px{
  @media (max-width: 767px) {
    .pd-2 {
      --bs-nav-link-padding-y: 3px;
    }
  }
  //fa random{
  @media (max-width: 767px) {
    .fa-random {
      //color:red;
      margin-left: 50px;
    }
  }
  //guide label{
  .guide-wrapper {
    @media (max-width: 767px) {
      .guides {
        background: #fabc3b;
        padding: 0.2em 0.5em;
        margin: 0;
        font-size: 0.8rem;
        font-weight: bold;
        list-style: none;
        text-decoration: none;

        margin: 0;
        border-radius: 7px;
        border: none;
        a {
          color: #fff;
          font-weight: bold;
          label {
            margin: 2px 2px;
          }
        }
      }
    }
  }

  //navbar toggler
  .navbar-toggler {
    @media (max-width: 767px) {
      font-size: 10px !important;
      color: white !important;
      margin: 5px 4px;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      position: relative;
      left: -40px !important;
      bottom: 13px !important;
      font-size: 13px !important;
      color: white !important;
      margin: 8px 10px !important;
    }
  }
  //end global custom used
  //navbar for mobile
  @media (max-width: 991px) {
    .nav-desktop {
      display: none !important;
    }
    .nav-mobile {
      display: revert !important;
    }
    .nav_wrapper {
      //flexible-height
      .flexible-height {
        @media (max-width: 767px) {
          height: 30px !important;
        }
      }

      //group_items for mobile
      .group_items {
        .group_items_mobile {
          /* Extra large devices (large laptops and desktops, 1200px and up) */
          @media only screen and (min-width: 1200px) {
            .nav-item {
              //border: 1px solid rgb(139, 136, 136);
              border-top: unset;
              border-bottom: unset;
            }
          }
          //all style relate dropdown support only mobile and ipad
          @media (max-width: 992px) {
            //put no dropdown icon
            .dropdown-toggle::after {
              position: absolute;
              left: 141px;
              top: 24px;
              // transition: all 0.4s ease-in-out;
            }

            .dropdown:hover {
              background-color: unset;
              background-color: #5c5c5c;
            }
            .learnNew {
              background-color: rgba(164, 162, 162, 0.19);
              h4 {
                padding: 3px 8px;
              }
            }
            h5 {
              color: #fff;
            }
            i {
              color: #89ac6c;
            }
            .login-or-signin {
              padding-bottom: 70px;
              a {
                text-decoration: unset;
              }
            }

            //module dropdown formatter style
            .dropdown-menu {
              left: 10px;
              position: relative;
              top: 0 !important;
              border-radius: unset;
              border: unset !important;
              //   --bs-dropdown-bg: #5c5c5c !important ;
              width: 229px;
              //animation test
              .dropdown-item {
                border: unset !important;
                width: 100%;
                // background-color: #5c5c5c;
                color: white;
                font-weight: bold;
                margin-left: 22px;
                font-size: 20px;
              }

              .dropdown-item:hover {
                color: white !important;
                font-size: 24px !important;
              }
            }

            .icon-title-wrapper {
              display: flex;
              .icon {
                padding: 5px;
                i {
                  font-size: 24px;
                }
              }

              h5 {
                padding: 9px;
                font-size: 20px;
                text-transform: uppercase;
              }
            }
          }
          //support icon while mobile collapse style
          @media (max-width: 992px) {
            .navbar-collapse {
              position: fixed;
              @media (max-width: 767px) {
                top: 30px;
              }
              @media (min-width: 768px) and (max-width: 992px) {
                top: 77px;
              }
              left: 0;
              padding-left: 15px;
              padding-right: 15px;
              padding-bottom: 15px;
              color: white;
              background-color: #5c5c5c;
              width: 75%;
              height: 100%;
            }
            #navbarSupportedContent {
              @media only screen and (max-width: 992px) and (min-width: 768px) {
                top: 55px;
              }
              @media only screen and (max-width: 767px) {
                top: 40px;
              }
            }
            // #navbarSupportedContent {
            //   background-color: black !important;
            //   color: #fff !important;

            //   font-weight: bold;
            //   @media (max-width: 567px) {
            //     position: relative;
            //     top: -55px;
            //   }
            // }
            .dropdown-menu {
              --bs-dropdown-bg: none;
            }

            .navbar-collapse.collapsing {
              left: -75%;
              transition: height 0s ease;
            }

            .navbar-collapse.show {
              left: 0;
              transition: left 300ms ease-in-out;
              top: 40px;
              width: 400px;
            }

            .navbar-toggler.collapsed ~ .navbar-collapse {
              transition: left 500ms ease-in-out;
            }
          }
        }
      }
    }
  }
  //navbar for desktop
  @media (min-width: 992px) {
    .nav-mobile {
      display: none !important;
    }
    .random-mobile-wrapper {
      display: none;
    }
    .search-ipad-wrapper {
      display: none;
    }
  }
  //close search ipad
  @media (max-width: 767px) {
    .search-ipad-wrapper {
      display: none;
    }
  }
  //close moible search for ipade and desktop
  @media (min-width: 768px) {
    .search-mobile-wrapper {
      display: none;
    }
    .guide-wrapper {
      display: none;
    }
  }
  //random for mobile and ipad style
  .random-mobile-wrapper {
    //ipad working

    @media (min-width: 768px) and (max-width: 992px) {
      position: relative;
      bottom: 6px;
      margin-right: -35px !important;
      margin-left: 261px;
      .mobile-random {
        i {
          right: 0;
          font-size: 25px;
        }
      }
    }
    //mobile working
    @media (max-width: 767px) {
      padding-top: -10px;
      position: relative;
      top: -20px;
      right: -8%;
      .mobile-random {
        i {
          margin-left: 0px;
          font-size: 20px;
          // margin-left: ;
        }
      }
    }
  }
  //search bar for ipad
  @media (min-width: 768px) and (max-width: 992px) {
    .search-container-ipad {
      position: relative;
      bottom: 6px;
      right: -250px;
      form {
        background-color: unset;
      }
      input[type="text"] {
        padding: 5px;
        margin-top: 8px;
        font-size: 16px;
        border: 2px solid #93b874;
        background-color: #b3ce9c;
        border-radius: 8px;
      }
      input:focus {
        color: white;
        outline: none;
      }
      ::placeholder {
        font-size: 1.25rem;
        color: white;
      }
      i {
        position: absolute;
        left: 160px;
        top: 20px;
        color: white;
      }
    }
  }
  //search bar block style for mobile
  // @media (max-width: 767px) {
  // .search-container-mobile {
  //   margin-right: 5px;
  //   .wrapper {
  //     // position: relative;
  //     // top: -20px;
  //     .box {
  //       height: 40px;
  //       .search-area {
  //         input[type="text"] {
  //           padding: 5px;
  //           font-size: 16px;
  //           border: 1px solid #93b874;
  //           background-color: #fff;
  //           border-radius: 5px;
  //           width: 55px;
  //           height: 30px;
  //           position: absolute;
  //           -webkit-transition: all 0.2s;
  //           -moz-transition: all 0.2s;
  //           transition: all 0.2s;
  //         }
  //         input[type="text"].active {
  //           position: absolute;
  //           // float: right;
  //           // width: 380px;
  //           width: 98%;
  //           padding: 0 31px;
  //           font-weight: bold;
  //           z-index: 1px;
  //           margin-right: 4px;
  //           outline: none;
  //         }
  //         input {
  //           position: relative;
  //           margin-right: 45px;
  //           left: 75%;
  //           top: 5px;
  //         }
  //         input[type="text"].active::placeholder {
  //           font-size: 15px;
  //           padding-bottom: 2px;
  //           color: gray;
  //         }
  //         ::placeholder {
  //           font-size: 12px;
  //           padding-bottom: 2px;
  //           color: white;
  //         }
  //         .icon {
  //           position: relative;
  //           width: 60px;
  //           height: 60px;
  //           top: -38px;
  //           right: 0px;
  //           color: gray;
  //           i {
  //             position: absolute;
  //             top: 50%;
  //             left: 50%;
  //             transform: translate(-6%, -11%);
  //             cursor: pointer;
  //             font-size: 18px;
  //             left: 65%;
  //           }
  //           .fa-close {
  //             display: none;
  //           }
  //         }
  //         .icon.active {
  //           transition: all 0.3s ease;
  //           color: gray;

  //           .fa-search {
  //             @media screen and (max-width: 390px) and (min-width: 205px) {
  //               position: absolute;
  //               left: -253px;
  //               top: 30px;
  //               transition: all 0.3s ease;
  //               color: gray;
  //             }
  //           }
  //           .fa-close {
  //             position: absolute;
  //             top: 50%;
  //             left: 80px;
  //             display: revert;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  @media screen and (max-width: 768px) {
    .search-container-mobile {
      .wrapper {
        // position: relative;
        // top: -20px;
        .box {
          height: 40px;
          .search-area {
            input[type="text"] {
              padding: 5px;
              font-size: 16px;
              border: 1px solid #93b874;
              background-color: #fff;
              border-radius: 5px;
              width: 60px;
              height: 33px;
              position: absolute;
              -webkit-transition: all 0.2s;
              -moz-transition: all 0.2s;
              transition: all 0.2s;
            }
            input[type="text"].active {
              position: absolute;
              // float: right;
              // width: 380px;
              width: 100%;
              padding: 0 31px;
              font-weight: bold;
              z-index: 1px;
              margin-right: 2px;
              outline: none;
            }
            input {
              position: relative;
              right: 0px;
              margin-right: 45px;
            }
            input[type="text"].active::placeholder {
              font-size: 15px;
              padding-bottom: 2px;
              color: gray;
            }
            ::placeholder {
              font-size: 12px;
              padding-bottom: 2px;
              color: white;
            }
            .icon {
              position: absolute;
              width: 60px;
              height: 60px;
              top: -16px;
              color: gray;
              right: 40px;
              i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-6%, -11%);
                cursor: pointer;
                font-size: 18px;
              }
              .fa-close {
                display: none;
              }
            }
            .icon.active {
              transition: all 0.3s ease;
              color: gray;

              .fa-search {
                  position: absolute;
                  left: -253px;
                  top: 30px;
                  transition: all 0.3s ease;
                  color: gray;
                  // display: none !important;
              }
              .fa-close {
                position: absolute;
                top: 50%;
                left: 80px;
                display: revert;
              }
            }
          }
        }
      }
    }
    // }
  }

  .nav_wrapper {
    .logo-wrapper {
      //logo image for desktop
      @media (min-width: 992px) {
        img {
          width: 173px;
          height: auto;
          padding-right: 15px;
        }
      }
      //for ipad
      @media (min-width: 768px) And (max-width: 992px) {
        img {
          position: relative;
          left: 100%;
          bottom: 8px;
          width: 167px;
          height: auto;
        }
      }
      //for mobile
      @media (max-width: 767px) {
        img {
          width: 100px;
          height: auto;
        }
      }
    }

    .category_wrapper {
      //margin-bottom: 60px;
      img {
        width: 100px;
        height: auto;
      }
    }

    .search-bar-wrapper {
      //close search-bar-desktop while mobile and ipad
      @media (max-width: 992px) {
        .search-container-desk-top {
          display: none !important;
        }
      }

      .search-container-desk-top {
        form {
          background-color: unset;
        }

        input[type="text"] {
          padding: 6px;
          margin-top: 8px;
          font-size: 17px;
          border-top: unset;
          border-left: unset;
          border-right: unset;
          border-bottom: 2px solid white;
          background-color: unset;
          width: 278px;
        }

        input:focus {
          color: white;
          outline: none;
        }

        ::placeholder {
          //font-size: 28px;
          font-size: 1.125em;
          color: white;
        }

        button {
          padding: 10px 30px;
          margin-top: 8px;
          margin-right: 16px;
          background-color: #adc996;
          font-size: 17px;
          border: unset;
          border-radius: 7px;
          cursor: pointer;

          .fa-search {
            //font-size: 30px;
            font-size: 1.258em;
            color: white;
          }
        }
      }
    }

    .group_items {
      .action-li {
        border-left: 1px solid #89ac6c;
      }
      .sub_login {
        // // left:-107px !important;
        // // top:-1px;
        // // background-color: #f9f9f9;
        // // border: 1px solid #91af79;
        padding-left: 16px;
        padding-left: 15px;
        span {
          font-weight: bold;
          font-size: 20px;
        }
        p {
          margin: 10px;
          font-weight: bold;
          font-size: 0.8rem;
          a {
            text-decoration: none;
            color: #669933;
          }
          a:active,
          a:hover {
            color: #6dde6d;
            text-decoration: underline;
          }
        }
        .login_info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          color: #fff;
          width: 235px;
          height: 48px;
          margin-top: 10px;
          i {
            font-size: 40px;
            margin-left: 5px;
          }
          h3 {
            font-size: 20px;

            color: #f9f9f9;
          }
        }
        #fb-icon {
          background-color: #365494;
          border: solid 1px #365494;
          border-radius: 5px;
          h3 {
            margin-right: 60px;
          }
        }
        #google-icon {
          background-color: dodgerblue;
          border: solid 1px dodgerblue;
          border-radius: 5px;
          h3 {
            margin-right: 75px;
          }
        }
        #wiki-icon {
          background-color: #93b874;
          border: 1px solid #93b874;
          border-radius: 5px;
          h3 {
            margin-right: 30px;
          }
        }
      }
      // .explore-wrapper{
      //     position: relative;
      // }
      .explore-menu {
        // max-width: 100%;
        // height: auto;
        padding: 40px;
        padding-top: 20px;
        border: 2px solid #91af79;
        background-color: #fff !important;
        position: relative;
        top: 75px;
        overflow-y: scroll;
        .explore_menu_line {
          margin-right: 50px;
          display: flex;
          width: 1000px;
          color: #669933;
          margin: 0 auto;
          .menuitem {
            width: 250px;
            line-height: 25px;
            font-size: 1.2rem;
            font-weight: bold;
          }
          .top_cat {
            font-size: 1.1rem;
            font-weight: 300;
            padding-left: 10px;
            line-height: 23px;
          }

          a {
            display: block;
            width: 250px;
            color: #669933;
            text-decoration: none;
          }
          .menu_item_sub {
            font-size: 1rem;
            font-weight: 300;
          }
          .component {
            font-size: 0.9rem;
            font-weight: 300;
            padding-left: 15px;
          }

          a:active,
          a:hover {
            background-color: #307530;
            color: #fff;
          }
        }
      }
      /* Extra large devices (large laptops and desktops, 1200px and up) */
      @media only screen and (min-width: 1200px) {
        .nav-item {
          //border: 1px solid rgb(139, 136, 136);
          border-top: unset;
          border-bottom: unset;
        }
      }

      //all style relate dropdown support only desktp
      @media (min-width: 992px) {
        //put dropdown as hover
        .dropdown:hover > .dropdown-menu {
          display: block;
          color: #4e634e !important;
          // background-color: #2C3C2C !important;
          margin-top: 0;
          opacity: 2;
          max-height: 1000px;
        }

        //put no dropdown icon
        .dropdown-toggle::after {
          display: none !important;
        }
        .dropdown:hover {
          //background-color: #92ad79 !important;
          //background-color: red !important;
          //icon transform while hover
          .icon-title-wrapper {
            .icon {
              i {
                transform: scale(1.3);
                -moz-transform: scale(1.3);
                -webkit-transform: scale(1.3);
                -ms-transform: scale(1.3);
                -o-transform: scale(1.3);
              }
            }
          }
        }
        //only support dropdown hover change background
        .dropdown-hover-bg:hover {
          background-color: #92ad79 !important;
        }
        //transition for dropdown test
        //end transition for dropdown

        //module dropdown formatter style
        .dropdown-menu {
          transition: all 2s;
          max-height: 0;
          display: block;
          overflow: hidden;
          margin-top: 0;
          opacity: 0;
          left: -87px !important;
          border-radius: unset;
          border: 1px solid green;

          .dropdown-item {
            color: green;
            font-size: 1em;
          }

          .dropdown-item:hover {
            background-color: #93b874;
            color: white !important;
          }
        }

        .icon-title-wrapper {
          padding-left: 5px;
          padding-right: 5px;

          .icon {
            padding-top: 15px;
            text-align: center;
            padding-bottom: 10px;

            i {
              font-size: 24px;
              line-height: 24px;
            }
          }

          h5 {
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }

      //support icon while mobile collapse style
      //specify each dropdown position each item dropdown
      .dropdown-categories {
        .dropdown-menu {
          border: 1px solid white !important;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          border-radius: 8px !important;
          top: 89px;
          left: -33px !important;
        }
        //style support while scrolled
        .scrolled {
          top: 30px !important;
          left: -168px !important;
        }
      }
      .dropdown-categories:hover {
        background-color: unset;
      }
      .dropdown-helpus {
        .dropdown-menu {
          left: -124px !important;
        }
        //style support while scrolled
        .scrolled {
          top: 45px;
        }
      }
      .dropdown-explore {
        .dropdown-menu {
          border: unset !important;
          top: 13px;
          background-color: unset;
          left: -831px !important;
        }
        //style support while scrolled
        .scrolled {
          top: -26px !important;
        }
      }
      .dropdown-login {
        .dropdown-menu {
          top: 76px;
          background-color: unset;
          left: -195px !important;
        }
        //style support while scrolled
        .scrolled {
          top: 49px;
        }
      }
      .dropdown-random {
        .dropdown-menu {
          left: -80px !important;
        }
        //style support while scrolled
        .scrolled {
          top: 31px;
        }
      }
    }
  }
}
