<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BGG</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link href="./css/footer.css"rel="stylesheet"/> -->
    <!-- icon support with fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="./css/nav_bar.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>

    <div class="nav_bar_component sticky">
      <div class="container" style="position: relative;">
        <!-- start component navbar -->
        <div class="nav_wrapper">
          <div class="group_items flexible-height">
            <!-- <nav class="navbar navbar-expand-lg navbar-light p-0"> -->
              <nav class="navbar navbar-expand-lg navbar-light p-0">
              <!-- button icon -->
              <div class="row mt-20">
                <div class="col-4">
                  <!--  -->
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>
              </div>
              <!-- guide for mobile -->
              <div class="guide-wrapper mt-20">
                <ul class="navbar-nav pd-2">
                  <li class="nav-item">
                    <a class="nav-link">
                      <label class="Guides">Guides</label>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- logo wrapper -->
              <div class="logo-wrapper mt-20">
                <ul class="navbar-nav pd-2">
                  <li class="nav-item ">
                    <a class="nav-link flexible-margin-bottom">
                      <img src="./img/wikihow_logo.png" alt="" />
                    </a>
                  </li>
                </ul>
              </div>`
               <!-- search for ipad -->
               <div class="search-ipad-wrapper">
                <ul class="navbar-nav pd-2">
                  <li class="nav-item">
                    <a class="nav-link flexible-margin-bottom">
                      <div class="search-container-ipad">
                        <form action="/action_page.php">
                            <input type="text" placeholder="todo anything..." name="search">
                            <i class="fa fa-search errspan"></i>
                        </form>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- search for mobile -->
              <div class="search-mobile-wrapper">
                <ul class="navbar-nav pd-2">
                  <li class="nav-item">
                    <a class="nav-link flexible-margin-bottom">
                      <div class="search-container-mobile">
                        <div class="wrapper">   
                            <div class="box">
                                <div class="search-area">
                                    <input type="text" placeholder="todo anything ...">
                                    <div class="icon"><i class="fa fa-search errspan"></i><i class="fa fa-close"></i></div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- Random For Mobile -->
              <div class="random-mobile-wrapper mt-20">
                <ul class="navbar-nav pd-2">
                  <li class="nav-item">
                    <a class="nav-link">
                      <div class="mobile-random">
                        <i class="fa fa-random" aria-hidden="true" class="rd"></i>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- Search Bar Block-->
              <div class="search-bar-wrapper">
                <ul class="navbar-nav ">
                  <li class="nav-item">
                    <a class="nav-link">
                      <div class="search-container-desk-top">
                        <form>
                          <input
                            type="text"
                            placeholder="todo anything..."
                            name="search"
                          />
                          <button type="submit">
                            <i class="fa fa-search"></i>
                          </button>
                        </form>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- nav items for desktop  -->
              <div class="collapse navbar-collapse nav-desktop">
                <ul class="navbar-nav ms-auto">
                  <li
                    class="nav-item dropdown bg-unset category-dropdown-unset dropdown-categories"
                  >
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="icon-title-wrapper mt-2">
                        <div class="category_wrapper">
                          <img class="category_img" src="./img/category_icon_v2.png" />
                          <img class="category_pro_img" src="./img/category_pro.png">
                        </div>
                      </div>
                    </a>
                    <div class="dropdown-menu dropdown-of-category" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Courses</a>
                      <a class="dropdown-item" href="#">Guides</a>
                      <a class="dropdown-item" href="#">Techs Help bro</a>
                      <a class="dropdown-item" href="#">Expert Videos</a>
                      <a class="dropdown-item" href="#">About wikiHow Pro</a>
                      <a class="dropdown-item" href="#">Coupon</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Quiz</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown dropdown-hover-bg action-li dropdown-helpus">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="icon-title-wrapper">
                        <div class="icon">
                          <i
                            class="fa fa-info-circle"
                            aria-hidden="true"
                            id="random"
                          ></i>
                        </div>
                        <h5>Help Us</h5>
                      </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Support wikiHow</a>
                      <a class="dropdown-item" href="#">Community Dashboard</a>
                      <a class="dropdown-item" href="#">Wite an Article</a>
                      <a class="dropdown-item" href="#">Request a New Article</a>
                      <a class="dropdown-item" href="#">More Ideas</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown dropdown-hover-bg action-li dropdown-explore">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="icon-title-wrapper">
                        <div class="icon">
                          <i
                            class="fa fa-podcast"
                            aria-hidden="true"
                            id="random"
                          ></i>
                        </div>
                        <h5>Explore</h5>
                      </div>
                    </a>
                    <div class="dropdown-menu explore-wrapper" aria-labelledby="navbarDropdown">
                      <div class="explore-menu">
                        <div class="explore_menu_line">
                          <a href="#" class="menuitem">Coupons</a>
                          <a href="#" class="menuitem">Tech Help Pro</a>
                          <a href="#" class="menuitem">Random Article</a>
                          <a href="#" class="menuitem">About Us</a>
                        </div>
                        <div class="explore_menu_line">
                          <a href="#" class="menuitem">Quizzes</a>
                          <a href="#" class="menuitem">Contribute</a>
                          <a href="#" class="menuitem">Train Your Brain Game</a>
                          <a href="#" class="menuitem">Improve Your English</a>
                        </div>
                        <hr />
                        <div class="explore_menu_line section_name_line">
                          <a href="#" class="menuitem">Popular Categories</a>
                        </div>
                        <div class="explore_menu_line little-menu">
                          <div class="menuitem">
                            <a href="#" class="menu_item_sub">Arts and Entertainment</a>
                            <a href="#" class="menu_item_sub component">Artwork</a>
                            <a href="#" class="menu_item_sub component">Artwork</a>
                            <a href="#" class="menu_item_sub component">Artwork</a>
                          </div>
                          <div class="menuitem">
                            <a href="#" class="menu_item_sub">Computers and Electronics</a>
                            <a href="#" class="menu_item_sub component">Artwork</a>
                            <a href="#" class="menu_item_sub component">Artwork</a>
                            <a href="#" class="menu_item_sub component">Artwork</a>
                          </div>
                          <div class="menuitem">
                            <a href="#" class="menu_item_sub">Health</a>
                            <a href="#" class="menu_item_sub component">Artwork</a>
                            <a href="#" class="menu_item_sub component">Artwork</a>
                            <a href="#" class="menu_item_sub component">Artwork</a>
                          </div>
                          <div class="menuitem">
                            <a href="#" class="menu_item_sub">Relationships</a>
                            <a href="#" class="menu_item_sub component">Artwork</a>
                            <a href="#" class="menu_item_sub component">Artwork</a>
                            <a href="#" class="menu_item_sub component">Artwork</a>
                          </div>
                        </div>
                        <div class="explore_menu_line little-menu">
                          <div class="menuitem">
                            <a href="#" class="menu_item_sub">Hobbies and Crafts</a>
                            <a href="#" class="menu_item_sub component">Crafts</a>
                            <a href="#" class="menu_item_sub component">Drawing</a>
                            <a href="#" class="menu_item_sub component">Games</a>
                          </div>
                          <div class="menuitem">
                            <a href="#" class="menu_item_sub">Education & Communication</a>
                            <a href="#" class="menu_item_sub component">Communication Skills</a>
                            <a href="#" class="menu_item_sub component">Personal Development</a>
                            <a href="#" class="menu_item_sub component">Studying</a>
                          </div>
                          <div class="menuitem">
                            <a href="#" class="menu_item_sub">Personal Care and Style</a>
                            <a href="#" class="menu_item_sub component">Fashion</a>
                            <a href="#" class="menu_item_sub component">Hair Care</a>
                            <a href="#" class="menu_item_sub component">Personal Hygiene</a>
                          </div>
                          <div class="menuitem">
                            <a href="#" class="menu_item_sub"> Youth</a>
                            <a href="#" class="menu_item_sub component">Personal Care</a>
                            <a href="#" class="menu_item_sub component">School Stuff</a>
                            <a href="#" class="menu_item_sub component">Dating</a>
                          </div>
                        </div>
                        <hr />
                        <div class="explore_menu_line section_name_line">
                          <a href="#" class="menuitem">All Categories</a>
                        </div>
                        <div class="explore_menu_line section_name_line">
                          <a href="#" class="menuitem top_cat">Arts and Entertainment</a>
                          <a href="#" class="menuitem top_cat">Finance and Business</a>
                          <a href="#" class="menuitem top_cat">Home and Garden</a>
                          <a href="#" class="menuitem top_cat">Relationship Quizzes</a>
                        </div>
                        <div class="explore_menu_line section_name_line">
                          <a href="#" class="menuitem top_cat">Cars & Other Vehicles</a>
                          <a href="#" class="menuitem top_cat">Food and Entertaining</a>
                          <a href="#" class="menuitem top_cat">Personal Care and Style</a>
                          <a href="#" class="menuitem top_cat">Sports and Fitness</a>
                        </div>
                        <div class="explore_menu_line section_name_line">
                          <a href="#" class="menuitem top_cat">Computers and Electronics</a>
                          <a href="#" class="menuitem top_cat">Health</a>
                          <a href="#" class="menuitem top_cat">Pets and Animals</a>
                          <a href="#" class="menuitem top_cat">Travel</a>
                        </div>
                        <div class="explore_menu_line section_name_line">
                          <a href="#" class="menuitem top_cat">Education & Communication</a>
                          <a href="#" class="menuitem top_cat">Hobbies and Crafts</a>
                          <a href="#" class="menuitem top_cat">Philosophy and Religion</a>
                          <a href="#" class="menuitem top_cat">Work World</a>
                        </div>
                        <div class="explore_menu_line section_name_line">
                          <a href="#" class="menuitem top_cat">Family Life</a>
                          <a href="#" class="menuitem top_cat">Holidays and Traditionst</a>
                          <a href="#" class="menuitem top_cat">Relationships</a>
                          <a href="#" class="menuitem top_cat">Youth</a>
                        </div>
                        
                    </div>
                  </li>
                  <li class="nav-item dropdown dropdown-hover-bg action-li dropdown-login">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="icon-title-wrapper">
                        <div class="icon">
                          <i
                            class="fa fa-user"
                            aria-hidden="true"
                            id="random"
                          ></i>
                        </div>
                        <h5>Login</h5>
                      </div>
                    </a>
                    <div class="dropdown-menu border-unset" aria-labelledby="navbarDropdown">
                      <div class="sub_login">
                        <span>Log in</span>
                        <div class="login_info" id="fb-icon">
                          <i class="fa fa-facebook-official" aria-hidden="true"></i>
                          <h3>Facebook</h3>
                        </div>
                        <div class="login_info" id="google-icon">
                          <i class="fa fa-google" aria-hidden="true"></i>
                          <h3>Goggle</h3>
                        </div>
                        <div class="login_info" id="wiki-icon">
                          <i class="fa fa-user" aria-hidden="true"></i>
                          <h3>wikiHow Account</h3>
                        </div>
                        <p>No account yet? <a href="#">Create an account</a></p>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item dropdown dropdown-hover-bg action-li border-right-dark dropdown-random">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <div class="icon-title-wrapper">
                        <div class="icon">
                          <i
                          class="fa fa-podcast"
                          aria-hidden="true"
                          id="random"> 
                          </i>
                        </div>
                        <h5>Random</h5>
                      </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Login</a>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="group_items_mobile nav-mobile h-20">
                <!-- nav items for mobile  -->
                <div
                  class="collapse navbar-collapse"
                  id="navbarSupportedContent"
                >
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="true"
                      >
                        <div class="icon-title-wrapper">
                          <div class="icon">
                            <i
                              class="fa fa-info-circle"
                              aria-hidden="true"
                              id="random"
                            ></i>
                          </div>
                          <h5>Help Us</h5>
                        </div>
                      </a>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdown"
                      >
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Login</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <div class="icon-title-wrapper">
                          <div class="icon">
                            <i
                              class="fa fa-podcast"
                              aria-hidden="true"
                              id="random"
                            ></i>
                          </div>
                          <h5>Explore</h5>
                        </div>
                      </a>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdown"
                      >
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Login</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <div class="icon-title-wrapper">
                          <div class="icon">
                            <i
                              class="fa fa-user"
                              aria-hidden="true"
                              id="random"
                            ></i>
                          </div>
                          <h5>Login</h5>
                        </div>
                      </a>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdown"
                      >
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Login</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <div class="icon-title-wrapper">
                          <div class="icon">
                            <i
                              class="fa fa-podcast"
                              aria-hidden="true"
                              id="random"
                            ></i>
                          </div>
                          <h5>Random</h5>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <!-- end component navbar -->
      </div>
    </div>
    <div class="mybox3" style="height: 1000px;background-color: gray;">
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="./js/nav_bar.js"></script>
    <!-- script for jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </body>
</html>
