<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
<link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <h3>Expert Co-Authored Articles</h3>
      <dicol-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
      <div class="ccol-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3>Trending How-To Articles</h3>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
      <dicol-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
      <dicol-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
      <dicol-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
      <dicol-sm-6 col-md-4 col-lg-2">
        <div class="card" style="width: 100%">
          <div class="check">Expert</div>
          <img
            class="card-img-top"
            src="https://www.wikihow.com/images/thumb/2/22/Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg/-crop-375-250-333px-nowatermark-Why-Doesn%27t-Caffeine-Affect-Me-Step-15.jpg.webp"
          />
          <div class="card-body">
            <p class="card-text">
              7 Reasons Caffeine Doesn't Affect You & What to Do About It
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>