.bg-gray-lightest {
  background-color: #fafbfb;
  padding-top: 96px;
  padding-bottom: 169px;

  .supported-platforms__tabs {
    margin-top: 2.5em;

    .nav-pills {
      .nav-link {
        border: 1px solid #fff;
        max-width: 200px;
      }

      .nav-link>img {
        max-height: 1.875em;
        max-width: 6em;
        filter: grayscale(100%);
        opacity: .35;
        transition: opacity .3s ease-in-out, filter .3s ease-in-out;
      }

      .nav-link.active>img {
        filter: none;
        opacity: 1;
      }

      .nav-link.active {
        background-color: #fff;
        border: 1px solid #d9dde0;
        color: #fff;
        max-width: 200px;

        img {
          max-height: 1.875em;
          max-width: 6em;
          transition: opacity .3s ease-in-out, filter .3s ease-in-out;
        }
    
      }
    }

    .tab-content {
      padding-top: 40px;
    }

    .tab-content__img {
      margin-bottom: 2em;
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
    }
  }

  p{
    font-size: 16px;
    color:#34495B;
    line-height: 32px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .btn-outline-primary {
    margin-top: 30px;
    border: 1px solid #fff;
    background-color: #075AA5;
    border-radius: 34px;
    padding: 10px 31px;
    color: #fff;
    border: unset;

    &:active,
    &:hover {
      border: 1px solid #fff;
      background-color: #075AA5 !important;
      border-radius: 34px;
      padding: 10px 31px;
      color: #fff;
      border: unset;
    }

  }

  .display {
    line-height: 1.25;
    font-family: righteous, cursive;
    font-size: 36px;
    color: #021c33;
  }

  .supported-platforms {
    padding-bottom: 72px;
    text-align: center;

    h2 {
      font-size: 36px;
      line-height: 42px;
      color: #021C33;
    }

    h3 {
      font-size: 24px;
      line-height: 32px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .bg-gray-lightest {
    background-color: #fafbfb;
    padding-top: 50px;
    padding-bottom: 50px;

    .supported-platforms {
      padding-bottom: 72px;
      text-align: center;

      h2 {
        font-size: 26px;
        line-height: 32px;
        color: #021C33;
      }

      h3 {
        font-size: 24px;
        line-height: 32px;
      }
    }

  }
}