<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BGG</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    /> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  </head>
  <body>
    <div class="content">
      <div class="navbar-wrap">
        <!--hover menu when responsive-->
        <div class="repon_toggle-menu" onclick="toggleMenu()">
          <img src="image/more.png" />
          <div class="sub_menu_wrap" id="subMenu">
            <div class="sub_menu">
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Home</h5>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Random</h5>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Brower Articles</h5>
              </div>
              <div class="text">
                <h2>Learn something New</h2>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Guides</h5>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Courses</h5>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Quizzes</h5>
              </div>
              <div class="text">
                <h2>Play Games</h2>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Train Your Brain</h5>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Improve Your English</h5>
              </div>
              <div class="text">
                <h2>Explore More</h2>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Support wikiHow</h5>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>About wikiHow</h5>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Coupons</h5>
              </div>
              <div class="text">
                <h2>Log in/Sign up</h2>
                <p>Terms of Use</p>
              </div>
            </div>
          </div>
        </div>

        <div class="conponent">
          <!-- block one -->
          <div class="items-group1">
            <div class="logo">
              <img src="image/wikihow_logo.png" />
            </div>
            <div class="search-wrap">
              <form action="">
                <input
                  type="text"
                  id="nav_search"
                  autofocus
                  required
                  aria-label="Search here"
                  placeholder="to do anything..."
                  x-webkit-speech
                />
                <button>
                  <i
                    class="fa fa-search"
                    aria-hiiden="true"
                    id="search-icon"
                  ></i>
                </button>
              </form>
            </div>
          </div>
          <!-- block-two -->
          <ul class="items-group2">
            <li id="randon-nav-li" class="nav-item">
              <div class="icon">
                <i class="fa fa-random" aria-hidden="true" id="random"></i>
              </div>
              <a href="#">RANDOM</a>
            </li>
            <li
              id="login-nav-li"
              class="nav-item"
              onmouseover="showmenu('loginMenu');"
              onmouseout="setTimeToHide()"
            >
              <div class="icon">
                <i class="fa fa-user" aria-hidden="true" id="random"></i>
              </div>
              <a href="#">LOG IN</a>
            </li>
            <li id="explore-nav-li" class="nav-item" onmouseover="showmenu('exploreMenu');" 
            onmouseout="setTimeToHide()">
              <div class="icon">
                <i class="fa fa-podcast" aria-hidden="true" id="random"></i>
              </div>
              <a href="#">EXPLORE</a>
            </li>
            <li
              id="help-nav-li"
              class="nav-item"
              onmouseover="showmenu('helpMenu');"
              onmouseout="setTimeToHide()"
            >
              <div class="icon">
                <i class="fa fa-info-circle" aria-hidden="true" id="random"></i>
              </div>
              <a href="#">HELP US</a>
            </li>
            <!-- block pro -->
            <li
              id="nav-pro"
              class="nav-item-li"
              onmouseover="showmenu('toggleMenu');"
              onmouseout="setTimeToHide()"
            >
              <div class="icon-pro">
                <img src="image/more.png" />
              </div>
              <a href="#">
                <label for="pro">PRO</label>
              </a>
            </li>

            <!--dropdown toggle menu using event onclick-->
            <div
              class="toggle_menu_wrap"
              id="toggleMenu"
              onmouseover="ReSetTimer()"
              onmouseout="setTimeToHide()"
              style="display: none"
            >
              <div class="sub-toggle">
                <a href="">Course</a>
                <a href="">Gruides</a>
                <a href="">Tech Help Pro</a>
                <a href="">Expert Video</a>
                <a href="">About wikiHow Pro</a>
                <a href="">Coupons</a>
                <a href="">Quizess</a>
              </div>
              <hr />
              <div class="sub-toggle">
                <a href="">Upgrade</a>
                <a href="">Sign In</a>
              </div>
            </div>

            <!--dropdown help us-->
            <div
              class="help_menu_wrap"
              id="helpMenu"
              onmouseover="ReSetTimer()"
              onmouseout="setTimeToHide()"
              style="display: none"
            >
              <div class="sub_help">
                <a href="#" active>Supports wikiHow</a>
                <a href="#">Community Dashbord</a>
                <a href="#">Write an Article</a>
                <a href="#">Requests a Article</a>
                <a href="#">More ideas...</a>
              </div>
            </div>
            <!--dropdown login-->
            <div
              class="login_menu_wrap"
              id="loginMenu"
              onmouseover="ReSetTimer()"
              onmouseout="setTimeToHide()"
              style="display: none"
            >
              <div class="sub_login">
                <span>Log in</span>
                <div class="login_info" id="fb-icon">
                  <i class="fa fa-facebook-official" aria-hidden="true"></i>
                  <h3>Facebook</h3>
                </div>
                <div class="login_info" id="google-icon">
                  <i class="fa fa-google" aria-hidden="true"></i>
                  <h3>Goggle</h3>
                </div>
                <div class="login_info" id="wiki-icon">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <h3>wikiHow Account</h3>
                </div>
                <p>No account yet? <a href="#">Create an account</a></p>
              </div>
            </div>
          </ul>
          <!-- dropdown explore -->
          <div class="menu explore-menu" id="exploreMenu" onmouseover="ReSetTimer()"
          onmouseout="setTimeToHide()"
          style="display: none">
            <div class="explore_menu_line">
              <a href="#" class="menuitem">Coupons</a>
              <a href="#" class="menuitem">Tech Help Pro</a>
              <a href="#" class="menuitem">Random Article</a>
              <a href="#" class="menuitem">About Us</a>
            </div>
            <div class="explore_menu_line">
              <a href="#" class="menuitem">Quizzes</a>
              <a href="#" class="menuitem">Contribute</a>
              <a href="#" class="menuitem">Train Your Brain Game</a>
              <a href="#" class="menuitem">Improve Your English</a>
            </div>
            <hr />
            <div class="explore_menu_line section_name_line">
              <a href="#" class="menuitem">Popular Categories</a>
            </div>
            <div class="explore_menu_line little-menu">
              <div class="menuitem">
                <a href="#" class="menu_item_sub">Arts and Entertainment</a>
                <a href="#" class="menu_item_sub component">Artwork</a>
                <a href="#" class="menu_item_sub component">Artwork</a>
                <a href="#" class="menu_item_sub component">Artwork</a>
              </div>
              <div class="menuitem">
                <a href="#" class="menu_item_sub">Computers and Electronics</a>
                <a href="#" class="menu_item_sub component">Artwork</a>
                <a href="#" class="menu_item_sub component">Artwork</a>
                <a href="#" class="menu_item_sub component">Artwork</a>
              </div>
              <div class="menuitem">
                <a href="#" class="menu_item_sub">Health</a>
                <a href="#" class="menu_item_sub component">Artwork</a>
                <a href="#" class="menu_item_sub component">Artwork</a>
                <a href="#" class="menu_item_sub component">Artwork</a>
              </div>
              <div class="menuitem">
                <a href="#" class="menu_item_sub">Relationships</a>
                <a href="#" class="menu_item_sub component">Artwork</a>
                <a href="#" class="menu_item_sub component">Artwork</a>
                <a href="#" class="menu_item_sub component">Artwork</a>
              </div>
            </div>
            <div class="explore_menu_line little-menu">
              <div class="menuitem">
                <a href="#" class="menu_item_sub">Hobbies and Crafts</a>
                <a href="#" class="menu_item_sub component">Crafts</a>
                <a href="#" class="menu_item_sub component">Drawing</a>
                <a href="#" class="menu_item_sub component">Games</a>
              </div>
              <div class="menuitem">
                <a href="#" class="menu_item_sub">Education & Communication</a>
                <a href="#" class="menu_item_sub component">Communication Skills</a>
                <a href="#" class="menu_item_sub component">Personal Development</a>
                <a href="#" class="menu_item_sub component">Studying</a>
              </div>
              <div class="menuitem">
                <a href="#" class="menu_item_sub">Personal Care and Style</a>
                <a href="#" class="menu_item_sub component">Fashion</a>
                <a href="#" class="menu_item_sub component">Hair Care</a>
                <a href="#" class="menu_item_sub component">Personal Hygiene</a>
              </div>
              <div class="menuitem">
                <a href="#" class="menu_item_sub"> Youth</a>
                <a href="#" class="menu_item_sub component">Personal Care</a>
                <a href="#" class="menu_item_sub component">School Stuff</a>
                <a href="#" class="menu_item_sub component">Dating</a>
              </div>
            </div>
            <hr />
            <div class="explore_menu_line section_name_line">
              <a href="#" class="menuitem">All Categories</a>
            </div>
            <div class="explore_menu_line section_name_line">
              <a href="#" class="menuitem top_cat">Arts and Entertainment</a>
              <a href="#" class="menuitem top_cat">Finance and Business</a>
              <a href="#" class="menuitem top_cat">Home and Garden</a>
              <a href="#" class="menuitem top_cat">Relationship Quizzes</a>
            </div>
            <div class="explore_menu_line section_name_line">
              <a href="#" class="menuitem top_cat">Cars & Other Vehicles</a>
              <a href="#" class="menuitem top_cat">Food and Entertaining</a>
              <a href="#" class="menuitem top_cat">Personal Care and Style</a>
              <a href="#" class="menuitem top_cat">Sports and Fitness</a>
            </div>
            <div class="explore_menu_line section_name_line">
              <a href="#" class="menuitem top_cat">Computers and Electronics</a>
              <a href="#" class="menuitem top_cat">Health</a>
              <a href="#" class="menuitem top_cat">Pets and Animals</a>
              <a href="#" class="menuitem top_cat">Travel</a>
            </div>
            <div class="explore_menu_line section_name_line">
              <a href="#" class="menuitem top_cat">Education & Communication</a>
              <a href="#" class="menuitem top_cat">Hobbies and Crafts</a>
              <a href="#" class="menuitem top_cat">Philosophy and Religion</a>
              <a href="#" class="menuitem top_cat">Work World</a>
            </div>
            <div class="explore_menu_line section_name_line">
              <a href="#" class="menuitem top_cat">Family Life</a>
              <a href="#" class="menuitem top_cat">Holidays and Traditionst</a>
              <a href="#" class="menuitem top_cat">Relationships</a>
              <a href="#" class="menuitem top_cat">Youth</a>
            </div>
          </div>
        </div>
        <!-- responsive guide -->
        <div class="guides">
          <!-- NavBar Pro -->
          <li>
            <a href="">
              <label class="label">Guides</label>
            </a>
          </li>
        </div>

        <!-- responsive logo for both-->
        <div class="logo-respon">
          <img src="image/wikihow_logo.png" alt="wikiHow-logo" id="logo" />
        </div>
        <!-- responsive search bar for ipad-->
        <div class="search-ipad">
          <form class="wrap-search">
            <input
              type="text"
              id="search-ip"
              name="search"
              required
              autofocus
              placeholder="to do anything..."
              x-webkit-speech
            />
            <i class="fa fa-search" aria-hiiden="true"></i>
          </form>
        </div>
        <!-- <div class="phone-search">
          <form class="wrap-search2">
            <input
              type="search"
              id="search-ph"
              name="search"
              required
              autofocus
              x-webkit-speech
            />
            <i class="fa fa-search" aria-hiiden="true"></i>
          </form>
        </div> -->
        <!-- search for mobile -->
        <div class="search-mobile-wrapper">
          <ul class="navbar-nav pd-2">
            <li class="nav-item">
              <a class="nav-link flexible-margin-bottom">
                <div class="search-container-mobile">
                  <div class="wrapper">   
                      <div class="box">
                          <div class="search-area">
                            <form action="input">
                              <input style="top: 4px" type="text" placeholder="todo anything ...">
                            </form>
                              <div class="icon"><i class="fa fa-search errspan"></i><i class="fa fa-close"></i></div>
                          </div>
                      </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <!-- for responsive ipad  and phone-->
        <div class="random-both">
          <i class="fa fa-random" aria-hidden="true" class="rd"></i>
        </div>
      </div>
    </div>
    <script src="js/javascript.js"></script>
  </body>
</html>