<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BGG</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    /> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12" id="col">
          <!-- start navbar component here -->
          <div class="nav_bar_component">
            <!--hover menu when responsive-->
            <div class="block_image">
              <!-- <img src="image/more.png" onclick="toggleMenu()" /> -->
              <img src="image/more.png" onclick="showmenu('subMenu');" 
              onmouseout="setTimeToHide()"/>
            </div>

            <div class="group_items1">
              <!-- start navbar -->
              <div class="logo">
                <img src="image/wikihow_logo.png" alt="wikiHow-logo" />
              </div>

              <div class="search_bar">
                <form action="">
                  <input
                    type="search"
                    role="textbox"
                    id="nan_search"
                    name="search"
                    tabindex="0"
                    required
                    aria-label="Search here"
                    placeholder="to do anything..."
                    x-webkit-speech
                  />
                  <button>
                    <i
                      class="fa fa-search"
                      aria-hiiden="true"
                      id="search-icon"
                    ></i>
                  </button>
                </form>
              </div>
            </div>

            <div class="category" >
              <!-- NavBar Pro -->
              <li id="nav_pro_li" onmouseover="showmenu('toggleMenu');" 
              onmouseout="setTimeToHide()">
                <a href="">
                  <div class="nav_icon_pro">
                    <img src="image/more.png" />
                  </div>
                  <div class="text_pro">
                    <label class="label">PRO</label>
                  </div>
                </a>
              </li>
            </div>

            <div class="group_items2">
              <ul>
                <li id="random">
                  <a href="">
                    <div class="nav_icon">
                      <i
                        class="fa fa-random"
                        aria-hidden="true"
                        id="random"
                      ></i>
                    </div>
                    <div class="text" id="text">RANDOM</div>
                  </a>
                </li>
                <!-- <li onmouseover="handleOnmouseOver()" onmouseout="handleOnmouseOut()"> -->
                <li onmouseover="showmenu('loginMenu');" 
                onmouseout="setTimeToHide()">
                  <a href="">
                    <div class="nav_icon">
                      <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="text">LOG IN</div>
                  </a>
                </li>
                <li onmouseover="showmenu('exploreMenu');" 
                onmouseout="setTimeToHide()"> 
                  <a href="">
                    <div class="nav_icon">
                      <i class="fa fa-podcast" aria-hidden="true"></i>
                    </div>
                    <div class="text">EXPLORE</div>
                  </a>
                </li>
                <!-- <li onmouseover="handleOnmouseOverHelp(this)" onmouseout="handleOnmouseOutHelp()"> -->
                <li onmouseover="showmenu('helpMenu');" 
                onmouseout="setTimeToHide()">
                  <a href="">
                    <div class="nav_icon">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </div>
                    <div class="text">HELP US</div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="guides">
                <!-- NavBar Pro -->
                <li>
                  <a href="">
                    <label class="label">Guides</label>
                  </a>
                </li>
              </div>
              <!-- responsive logo for ipad-->
            <div class="logo-respon">
              <img src="image/wikihow_logo.png" alt="wikiHow-logo" id="logo"/>
            </div>

            <!-- responsive search bar for ipad and phone-->
            <div class="respon-search">
              <form class="wrap-search">
                  <input type="search" id="search-ip" name="search" required autofocus placeholder="to do anything..." x-webkit-speech>
                  <i class="fa fa-search" aria-hiiden="true"></i>
              </form>
            </div>
            <!-- responsive search bar for phone-->
            <div class="phone-search">
              <form class="wrap-search2">
                <input type="search" id="search-ph" name="search" required autofocus x-webkit-speech>
                <i class="fa fa-search" aria-hiiden="true"></i>
            </form>
            </div>

            <!-- for responsive ipad  and phone-->
            <div class="random-ipad">
              <i class="fa fa-random" aria-hidden="true" class="rd"></i>
            </div>
          </div>

          <!--dropdown login-->
        <div class="login_menu_wrap" id="loginMenu" onmouseover="ReSetTimer()" 
        onmouseout="setTimeToHide()" 
        style="display:none;">
          <div class="sub_login">
            <span>Log in</span>
            <div class="login_info" id="fb-icon">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
              <h3>Facebook</h3>
            </div>
            <div class="login_info" id="google-icon">
              <i class="fa fa-google" aria-hidden="true"></i>
              <h3>Goggle</h3>
            </div>
            <div class="login_info" id="wiki-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
              <h3>wikiHow Account</h3>
            </div>
            <p>No account yet? <a href="#">Create an account</a></p>
          </div>
        </div>
        <!--dropdown help us-->
        <div class="help_menu_wrap" id="helpMenu" onmouseover="ReSetTimer()" 
        onmouseout="setTimeToHide()" 
        style="display:none;">
          <div class="sub_help">
            <a href="#" active>Supports wikiHow</a>
            <a href="#">Community Dashbord</a>
            <a href="#">Write an Article</a>
            <a href="#">Requests a Article</a>
            <a href="#">More ideas...</a>
          </div>
        </div>

        <!--dropdown toggle menu using event onclick-->
        <div class="toggle_menu_wrap" id="toggleMenu" onmouseover="ReSetTimer()" 
        onmouseout="setTimeToHide()" 
        style="display:none;">
          <div class="sub-toggle">
            <a href="">Course</a>
            <a href="">Gruides</a>
            <a href="">Tech Help Pro</a>
            <a href="">Expert Video</a>
            <a href="">About wikiHow Pro</a>
            <a href="">Coupons</a>
            <a href="">Quizess</a>
          </div>
          <hr>
          <div class="sub-toggle">
            <a href="">Upgrade</a>
            <a href="">Sign In</a>
          </div>
        </div>

        <!--dropdown explore-->
        <div class="container" id="exploreMenu" onmouseover="ReSetTimer()" 
        onmouseout="setTimeToHide()" 
        style="display:none;">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="col-items">
            <div class="col"><h4>Coupons</h4></div>
            <div class="col"><h4>Tech Help Pro</h4></div>
            <div class="col"><h4>Random Article</h4></div>
            <div class="col"><h4>About Us</h4></div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="col-items">
            <div class="col"><h4>Quizzes</h4></div>
            <div class="col"><h4>Contribute</h4></div>
            <div class="col"><h4>Train Your Brain</h4></div>
            <div class="col"><h4> Game Improve Your English</h4></div>
          </div>
          <hr>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="col-items">
            <div class="col"><h4>Pupular Categories</h4></div>
          </div>
           <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="cate-items" id="big-items">
            <div class="col">Arts and Entertainment</div>
            <div class="col">Computers and Electronics</div>
            <div class="col">Health</div>
            <div class="col">Relationships</div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="list-items">
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="list-items">
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="list-items">
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
          </div>
          <!-- <div class="col">Column</div> -->
           <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="cate-items" id="big-items">
            <div class="col">Hobbies and Crafts</div>
            <div class="col">Education & Communication</div>
            <div class="col">Personal Care and Style</div>
            <div class="col">Youth</></div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="list-items">
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="list-items">
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="list-items">
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
          </div>
          <hr>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="col-items">
            <div class="col"><h4>All Categories</h4></div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="big-items">
            <div class="col"> Arts and Entertainment</div>
            <div class="col">Finance and Business</div>
            <div class="col">Home and Garden</div>
            <div class="col">Relationship Quizzes</div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="big-items">
            <div class="col">Cars & Other</div>
            <div class="col">VehiclesFood and Entertaining</div>
            <div class="col">Personal Care and Style</div>
            <div class="col">Sports and Fitness</div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="big-items">
            <div class="col">Computers and Electronics</div>
            <div class="col">Health</div>
            <div class="col">Pets and Animals</div>
            <div class="col">Travel</div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="big-items">
            <div class="col">Education & Communication</div>
            <div class="col">Hobbies and Crafts</div>
            <div class="col">Philosophy and Religion</div>
            <div class="col">Work World</div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" id="big-items">
            <div class="col">Family Life</div>
            <div class="col">Holidays and Traditions</div>
            <div class="col">Relationships</div>
            <div class="col">Youth</div>
          </div>
        </div>
          <!--dropdown toggle menu-->
          <div class="sub_menu_wrap" id="subMenu" onclick="ReSetTimer()" 
          onmouseout="setTimeToHide()" 
          style="display:none;">
            <div class="sub_menu">
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Home</h5>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Random</h5>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Brower Articles</h5>
              </div>
              <div class="text">
                <h2>Learn something New</h2>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Guides</h5>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Courses</h5>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Quizzes</h5>
              </div>
              <div class="text">
                <h2>Play Games</h2>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Train Your Brain</h5>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Improve Your English</h5>
              </div>
              <div class="text">
                <h2>Explore More</h2>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Support wikiHow</h5>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>About wikiHow</h5>
              </div>
              <div class="toggle_info">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h5>Coupons</h5>
              </div>
              <div class="text">
                <h2>Log in/Sign up</h2>
                <p>Terms of Use</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <script src="js/javascript.js"></script>
  </body>
</html>