<!-- Authors:Sot Sirymony-->

<!DOCTYPE html>
<html>
  <head>
    <title>BGG</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="./css/card_block.css"rel="stylesheet"/>
  </head>
  <body>
        <div class="component_card_block">
            <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="../card_block/img/card_block.jpg" alt="card image">
            <div class="card-body">
              <p class="card_feature">How To</p>
              <p class="card_title_fz">Freez</p>
            </div>
            </div>
        </div>
    </div>
  </body>
</html>
