.contact {
  padding-top: 110px;
  padding-bottom: 165px;
  background-image: url('../../../clientLib/images/contact/contact_cleanup.PNG');
  background-size:cover;
  .text-paragraph {
    width: 23em;
    h1 {
      font-size: 36px;
      color: #fff;
      font-family: righteous, cursive;
      text-transform: capitalize;
      line-height: 56px;
    }

    p {
      color: #fff;
      font-size: 16px;
      line-height: 32px;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .form-contact {
    text-align: center;
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .contact {
    padding-top: 50px;
    padding-bottom: 50px;
    .text-paragraph {
      text-align: center;
      padding-right: unset;

      h1 {
        font-size: 26px;
        line-height: 32px;
        color: #fff;
        font-family: righteous, cursive;
      }

      p {
        color: #fff;
        font-size: 16px;
        line-height: 32px;
      }
    }

  }
}