.tooltip {
  z-index: 0 !important;
  margin-left: -25px !important;
  margin-bottom: 10px !important;

  .tooltip-inner {
    background-color: #D9DDE0 !important;
    width: 46px !important;
    height: 30px !important;
    border-radius: unset !important;
    font-size: 14px !important;
    color: #34495B !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    text-align: center;
  }

  .tooltip-arrow::before {
    left: 20px !important;
    right: 0 !important;
    float: right !important;
    border-width: 7px 0px 67px 9px !important;
    border-color: #D9DDE0 transparent transparent transparent !important;
  }
}
.card-roadmap {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 62px;
  margin-bottom: 20px;
  opacity: 1;
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 20px #021C3314;
  border-radius: 16px;
  border:unset;
  opacity: 1;
  border:unset !important;

  .card-header {
    padding: 0;
    border: unset;
    background-color: unset;

    .progress {
      overflow: visible;

      .progress-bar {
        text-align: right;
        border-radius: 24px;
        background: #12B58B;
        -webkit-transition: width 1.5s ease-in-out;
        transition: width 1.5s ease-in-out;
        max-width: 100%;
        position: relative;
      }

    }

  }

  .card-body {
    padding: 0;

    .tag-wrapper {
      margin-top: 23px;
      margin-bottom: 6px;
      ul {
        padding-left: 0;
        display: inline;
        list-style-type: none;
      }

      li {
        display: inline-block;

        span {
          background: #D9DDE0 0% 0% no-repeat padding-box;
          border-radius: 12px;
          opacity: 1;
          padding: 0px 15px;
          font-size: 11px;
          color: #34495B;
          text-transform: uppercase;
          line-height: 24px;
          font-weight: 500;
          margin: 2px;
        }
      }

    }

    .card-title {
      color: #021C33;
      font-size: 20px;
      line-height: 18px;
      font-weight: 600;
      text-transform: capitalize;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .card-text {
      color: #021C33;
      font-size: 13px;
      line-height: 18px;
      text-transform: lowercase;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .card-footer {
    margin-top: 10px;
    border: unset;
    background-color: unset;
    padding: 0;
    p {
      color: #677684;
      font-size: 12px;
      line-height: 18px;
      text-transform: lowercase;
    }
  }

}
@media (max-width: 991.98px) {
    .card-img {
      padding-left: 35px;
      padding-right: 35px;
      padding-top: 62px;
      margin-bottom: 20px;
      opacity: 1;
      width: 100%;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 2px 20px #021C3314;
      border-radius: 16px;
      opacity: 1;
      border:unset !important;

      .card-header {
        padding: 0;
        border: unset;
        background-color: unset;

        .progress {
          overflow: visible;

          .progress-bar {
            text-align: right;
            border-radius: 24px;
            background: #12B58B;
            -webkit-transition: width 1.5s ease-in-out;
            transition: width 1.5s ease-in-out;
            max-width: 100%;
            position: relative;
          }

        }

      }

      .card-body {
        padding: 0;


        .card-title {
          color: #021C33;
          font-size: 16px !important;
          line-height: 18px;
          font-weight: 600;
          text-transform: capitalize;
        }

      }
    }
  

}