.main-carousel-slide-splide{
  .text-paragraph {
    position: absolute;
    z-index: 2;
    width: 34rem;
    text-overflow: ellipsis;
    padding-top: 246px;
    padding-bottom: 30px;
    h1 {
      color: #fff;
      font-size: 50px;
      text-align: 56;
      font-family: righteous, cursive;
      line-height: 56px;
      margin-bottom: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      font-size: 24px;
      color: #fff;
      line-height: 36px;
      margin-bottom: 30px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .btn-slide-custom {
      border-radius: 34px 34px 34px 34px !important;
      border: 2px solid #FFFFFF !important;
      opacity: 1 !important;
      padding: 9px 32px !important;
      font-size: 23px !important;
      &:hover,
      &:active {
        color: #075AA5 !important;
      }
    }

  }
  .slider {
    width: 100%;
    .slide {
      img {
        display: block;
        width: 100%;
        height: 820px;
      }
      
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0;
    left:0;
    right:0;
    padding: 1rem 0;
    list-style-type: none;
    margin-top: -52px;
    position: absolute !important;
      li {
        margin: 0 12px;
        text-align: center;
        a {
          display: block;
          width: 12px;
          height: 12px;
          padding: 0;
          border: none;
          border-radius: 100%;
          background: #CFDFEF 0% 0% no-repeat padding-box;
          text-indent: -9999px;
        }
      
      }
      li.slick-active a {
        background-color: red;
        width: 23px;
        height: 23px;
        text-indent: 0;
        font-size: 14px;
        color:#fff;
        border: 2px solid #ffff;
        background-color: unset;
      }
  }
}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .main-carousel-slide-splide{
    .text-paragraph {
      text-align: center;
      z-index: 2;
      width: 22rem;
      text-overflow: ellipsis;
      padding-top: 150px !important;
      padding-bottom: 30px !important;

      h1 {
        color: #fff;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        font-family: righteous, cursive;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        font-size: 16px;
        color: #fff;
        line-height: 32px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .btn-slide-custom {
        border-radius: 24px 24px 24px 24px !important;
        border: 1px solid #FFFFFF !important;
        opacity: 1 !important;
        padding: 9px 21px !important;
        font-size: 16px !important;

        &:hover,
        &:active {
          color: #075AA5 !important;
        }
      }

    }
    .slider {
      width: 100%;
      .slide {
        img {
          display: block;
          width: 100%;
          height: 450px;
        }
        
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) and (min-width: 575.98px) {
  .main-carousel-slide-splide{
    .text-paragraph {
      position: absolute;
      z-index: 2;
      width: 34rem;
      text-overflow: ellipsis;
      padding-top: 246px !important;
      padding-bottom: 30px !important;
      h1 {
        color: #fff;
        font-size: 50px;
        text-align: 56;
        font-family: righteous, cursive;
        line-height: 56px;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        font-size: 24px;
        color: #fff;
        line-height: 36px;
        margin-bottom: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }


      .btn-slide-custom {
        border-radius: 24px 24px 24px 24px !important;
        border: 1px solid #FFFFFF !important;
        opacity: 1 !important;
        padding: 9px 21px !important;
        font-size: 16px !important;

        &:hover,
        &:active {
          color: #075AA5 !important;
        }
      }
    }
    .slider {
      width: 100%;
      .slide {
        img {
          display: block;
          width: 100%;
          height: 650px;
        }
        
      }
    }
  }

}

