.card-img{
  border: none !important;
  .card-body{
    .thumb {
      position: relative;
      overflow: hidden;
      z-index: 1;
      &::after {
        background: #232323 none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        width: 100%;
        height: 290px;
      }
  
      img{
        width:100%;
        object-fit: cover;
        height: auto;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        border-radius: 16px;
        filter: grayscale(100%);
      }
  
    }
  
    &:hover {
      .thumb {
        img {
          filter: none;
        }
      }
    }
    .info {
      background: #ffffff none repeat scroll 0 0;
      padding: 40px 20px 20px;
      position: relative;
      text-align: center;
      z-index: 9;
    
      h4 {
        margin-bottom: 5px;
        font-size: 28px;
        line-height: 42px;
        text-transform: capitalize;
        font-family: righteous, cursive;
      }
    
      span {
        text-transform: uppercase;
        font-size: 20px;
        line-height: 42px;
      }
    }
  }
  
}

