.nav_bar_component{
    background-color: #93B874;
    .nav_wrapper{
        .group_items{
            /* Extra large devices (large laptops and desktops, 1200px and up) */
            @media only screen and (min-width: 1200px) {
                .nav-item{
                    border: 1px solid rgb(160, 158, 158);
                    border-top: unset;
                    border-bottom:unset;
                }
            }
        }

    }
}

   


