.nav_bar_component {
  background-color: #93b874;
}
.nav_bar_component .bg-unset {
  background-color: unset !important;
}
.nav_bar_component .border-unset {
  border: unset !important;
}
.nav_bar_component .dropdown-of-category {
  left: -22px !important;
}
.nav_bar_component .border-right-color {
  border-right: 1px solid #89ac6c;
}
@media (max-width: 991px) {
  .nav_bar_component .nav-desktop {
    display: none !important;
  }
  .nav_bar_component .nav-mobile {
    display: revert !important;
  }
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile {
    /* Extra large devices (large laptops and desktops, 1200px and up) */
  }
}
@media only screen and (max-width: 991px) and (min-width: 1200px) {
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile .nav-item {
    border-top: unset;
    border-bottom: unset;
  }
}
@media (max-width: 991px) and (max-width: 992px) {
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile .dropdown-toggle::after {
    position: absolute;
    left: 141px;
    top: 24px;
  }
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile .dropdown:hover {
    background-color: unset;
    background-color: #5C5C5C;
  }
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile .dropdown-menu {
    left: -94px;
    border-radius: unset;
    border: unset !important;
    --bs-dropdown-bg:#5C5C5C !important ;
    width: 229px;
  }
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile .dropdown-menu .dropdown-item {
    border: unset !important;
    width: 100%;
    background-color: #5C5C5C;
    color: white;
    font-weight: bold;
    margin-left: 22px;
    font-size: 20px;
  }
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile .dropdown-menu .dropdown-item:hover {
    color: white !important;
    font-size: 24px !important;
  }
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile .icon-title-wrapper {
    display: flex;
  }
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile .icon-title-wrapper .icon {
    padding: 5px;
  }
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile .icon-title-wrapper .icon i {
    font-size: 24px;
  }
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile .icon-title-wrapper h5 {
    padding: 9px;
    font-size: 20px;
    text-transform: uppercase;
  }
}
@media (max-width: 991px) and (max-width: 992px) {
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile .navbar-collapse {
    position: fixed;
    top: 40px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: #5C5C5C;
    width: 75%;
    height: 100%;
  }
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile .navbar-collapse a {
    color: white;
  }
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }
  .nav_bar_component .nav_wrapper .group_items .group_items_mobile .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }
}
@media (min-width: 992px) {
  .nav_bar_component .nav-mobile {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .nav_bar_component .nav_wrapper .logo-wrapper img {
    width: 200px;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .nav_bar_component .nav_wrapper .logo-wrapper img {
    width: 173px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .nav_bar_component .nav_wrapper .logo-wrapper img {
    width: 100px;
    height: auto;
  }
}
.nav_bar_component .nav_wrapper .category_wrapper img {
  width: 130px;
  height: auto;
}
@media (max-width: 992px) {
  .nav_bar_component .nav_wrapper .search-bar-wrapper .search-container-desk-top {
    display: none !important;
  }
}
.nav_bar_component .nav_wrapper .search-bar-wrapper .search-container-desk-top form {
  background-color: unset;
}
.nav_bar_component .nav_wrapper .search-bar-wrapper .search-container-desk-top input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-bottom: 2px solid white;
  background-color: unset;
  width: 300px;
}
.nav_bar_component .nav_wrapper .search-bar-wrapper .search-container-desk-top input:focus {
  color: white;
  outline: none;
}
.nav_bar_component .nav_wrapper .search-bar-wrapper .search-container-desk-top ::-moz-placeholder {
  font-size: 28px;
  color: white;
}
.nav_bar_component .nav_wrapper .search-bar-wrapper .search-container-desk-top ::placeholder {
  font-size: 28px;
  color: white;
}
.nav_bar_component .nav_wrapper .search-bar-wrapper .search-container-desk-top button {
  padding: 10px 30px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #adc996;
  font-size: 17px;
  border: unset;
  border-radius: 7px;
  cursor: pointer;
}
.nav_bar_component .nav_wrapper .search-bar-wrapper .search-container-desk-top button .fa-search {
  font-size: 30px;
  color: white;
}
.nav_bar_component .nav_wrapper .group_items {
  /* Extra large devices (large laptops and desktops, 1200px and up) */
}
.nav_bar_component .nav_wrapper .group_items .action-li {
  border-left: 1px solid #89ac6c;
}
.nav_bar_component .nav_wrapper .group_items .sub_login {
  position: absolute;
  left: -107px !important;
  top: -1px;
  background-color: #f9f9f9;
  border: 1px solid #91af79;
  padding: 10px;
}
.nav_bar_component .nav_wrapper .group_items .sub_login span {
  font-weight: bold;
  font-size: 20px;
}
.nav_bar_component .nav_wrapper .group_items .sub_login p {
  margin: 10px;
  font-weight: bold;
  font-size: 0.8rem;
}
.nav_bar_component .nav_wrapper .group_items .sub_login p a {
  text-decoration: none;
  color: #669933;
}
.nav_bar_component .nav_wrapper .group_items .sub_login p a:active,
.nav_bar_component .nav_wrapper .group_items .sub_login p a:hover {
  color: #6dde6d;
  text-decoration: underline;
}
.nav_bar_component .nav_wrapper .group_items .sub_login .login_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 235px;
  height: 48px;
  margin-top: 10px;
}
.nav_bar_component .nav_wrapper .group_items .sub_login .login_info i {
  font-size: 40px;
  margin-left: 5px;
}
.nav_bar_component .nav_wrapper .group_items .sub_login .login_info h3 {
  font-size: 20px;
  color: #f9f9f9;
}
.nav_bar_component .nav_wrapper .group_items .sub_login #fb-icon {
  background-color: #365494;
  border: solid 1px #365494;
  border-radius: 5px;
}
.nav_bar_component .nav_wrapper .group_items .sub_login #fb-icon h3 {
  margin-right: 60px;
}
.nav_bar_component .nav_wrapper .group_items .sub_login #google-icon {
  background-color: dodgerblue;
  border: solid 1px dodgerblue;
  border-radius: 5px;
}
.nav_bar_component .nav_wrapper .group_items .sub_login #google-icon h3 {
  margin-right: 75px;
}
.nav_bar_component .nav_wrapper .group_items .sub_login #wiki-icon {
  background-color: #93b874;
  border: 1px solid #93b874;
  border-radius: 5px;
}
.nav_bar_component .nav_wrapper .group_items .sub_login #wiki-icon h3 {
  margin-right: 30px;
}
@media only screen and (min-width: 1200px) {
  .nav_bar_component .nav_wrapper .group_items .nav-item {
    border-top: unset;
    border-bottom: unset;
  }
}
@media (min-width: 992px) {
  .nav_bar_component .nav_wrapper .group_items .dropdown:hover > .dropdown-menu {
    display: block;
    color: #4e634e !important;
  }
  .nav_bar_component .nav_wrapper .group_items .dropdown-toggle::after {
    display: none !important;
  }
  .nav_bar_component .nav_wrapper .group_items .dropdown:hover {
    background-color: #92ad79 !important;
  }
  .nav_bar_component .nav_wrapper .group_items .dropdown:hover .icon-title-wrapper .icon i {
    transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
  .nav_bar_component .nav_wrapper .group_items .dropdown-menu {
    left: -87px !important;
    border-radius: unset;
    border: 1px solid green;
  }
  .nav_bar_component .nav_wrapper .group_items .dropdown-menu .dropdown-item {
    color: green;
    font-weight: bold;
  }
  .nav_bar_component .nav_wrapper .group_items .dropdown-menu .dropdown-item:hover {
    background-color: #93b874;
    color: white !important;
  }
  .nav_bar_component .nav_wrapper .group_items .icon-title-wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }
  .nav_bar_component .nav_wrapper .group_items .icon-title-wrapper .icon {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 10px;
  }
  .nav_bar_component .nav_wrapper .group_items .icon-title-wrapper .icon i {
    font-size: 24px;
    line-height: 24px;
  }
  .nav_bar_component .nav_wrapper .group_items .icon-title-wrapper h5 {
    font-size: 12px;
    text-transform: uppercase;
  }
}/*# sourceMappingURL=nav_bar.css.map */