*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.header_search{
  width: 100%;
  /* height: 100vh; */
  background-color: #E6EEE0;
  overflow: hidden;
  padding: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.image1{
 
  float: right;
  padding-right: 155px;
  margin-top: 45px;
  margin-bottom: 0;
}

img{
  width: 485px;
  height: 367px;
}

.content{
  float: left;
  margin-top: 50px;
  padding-left: 150px; 
}


h1{
  font-size: 46px;
  line-height: normal;
  margin-bottom: 25px;
  width: 600px;
  justify-content: space-between;
}
p{
  text-align: left;
  width: 535px;
  color: #444f45;
  font-size: 24px;
  padding-bottom: 5px;
}
.search{
  width: 500px;
  height: 55px;
  background-color: white;
  border: 3px solid #89ac6c;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.search > i{
  font-size: 25px;
  /* margin: 4px 0 0 13px; */
  color: #777;
}
.search > input{
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}