body {
  background-color: #f3f3f3;
}

a {
  display: flex;
  float: right;
  text-decoration: none;
  color: rgb(71, 71, 71);
}
a span:hover,
a span:visited {
  text-decoration: underline;
  cursor: pointer;
}

span {
  padding-left: 5px;
}

h1 {
  margin-bottom: -10px;
}

#row-2 {
  border-right: 2px solid rgb(194, 194, 194);
}

.ttext_main {
  width: 200px !important;
}

form {
  /* Hide the default checkbox */
  /* Creating a custom checkbox
  based on demand */
  /* Specify the background color to be
  shown when checkbox is checked */
  /* Checkmark to be shown in checkbox */
  /* It is not be shown when not checked */
  /* Display checkmark when checked */
}
form .form-control {
  width: 94%;
  padding: 10px;
  border: 2px solid #97ba78;
  border-radius: 0;
}
form .form-control:focus,
form .form-controll:active {
  border: 2px solid #93b874;
}
form .check {
  display: flex;
  padding-top: 10px;
}
form .main {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;
}
form input[type=checkbox] {
  visibility: hidden;
}
form .geekmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #93b874;
  background-color: rgba(156, 144, 144, 0);
}
form .main input:checked ~ .geekmark {
  background-color: #93b874;
}
form .geekmark:after {
  content: "";
  position: absolute;
  display: none;
}
form .main input:checked ~ .geekmark:after {
  display: block;
}
form .block_1 {
  margin-left: 10px !important;
}
form .main .geekmark:after {
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
form .login_or {
  position: relative;
  float: right;
  right: -20px;
  top: -75px;
  background-color: #fff;
  color: rgb(194, 194, 194);
}

@media screen and (min-width: 992px) {
  .sub_login {
    padding-left: 35px;
  }
}
.btn {
  background-color: #97ba78;
  width: 94%;
  color: white;
  border-color: #97ba78;
  padding: 10px 20px;
  border-radius: 5px;
}

.sub_login {
  display: block;
  padding-top: 15px;
}
.sub_login .login_info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 100% !important;
  height: 58px !important;
  margin-top: 10px;
}
.sub_login .login_info img {
  width: 60px;
  margin-left: -20px;
  margin-right: 20px;
}
.sub_login #fb-icon {
  background-color: #365494;
  border: solid 1px #365494;
  border-radius: 5px;
}
.sub_login #google-icon {
  background-color: #3f82f7;
  border: solid 1px #3f82f7;
  border-radius: 5px;
}
.sub_login #google-icon img {
  margin-left: -20px;
  margin-right: 20px;
  width: 90px;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .login_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    width: 100% !important;
    height: 58px !important;
  }
  .sub_login {
    padding-left: 35px;
  }
}
@media screen and (min-width: 768px) {
  #hidden_head {
    display: none;
  }
  #show-mobile {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .container .hide_head {
    display: none;
  }
  .container .signup {
    position: relative;
    top: 0;
    float: left;
    border: 1px solid rgb(180, 180, 180);
    width: 50%;
    border-left: none;
    padding: 5px;
  }
  .container .signup label {
    margin: 0 auto;
  }
  .container .login {
    position: relative;
    top: 0;
    float: left;
    border: 1px solid rgb(180, 180, 180);
    width: 50%;
    border-right: none;
    padding: 5px;
  }
  .container .login label {
    margin: 0 auto;
  }
  .container .login_or {
    display: none !important;
  }
  .container #row-2 {
    border-right: none !important;
  }
  .container .row-mobile {
    border-bottom: 2px solid rgb(194, 194, 194) !important;
    padding-top: 0px;
    padding-bottom: 15px;
  }
  .container .login_info {
    margin-bottom: 10px;
  }
  .container .login_or_mobile {
    position: relative;
    float: right;
    right: 50%;
    top: -15px;
    background-color: #fff;
    color: rgb(194, 194, 194);
  }
  .container .form-control {
    width: 100%;
  }
  .container .btn {
    width: 100%;
  }
  .container .hide-mobile {
    display: none;
  }
}
.submit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.submit_btn span {
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.submit_btn #btn-2 {
  width: 50%;
  background-color: #FFCF5A;
}
.submit_btn #btn-2:hover, .submit_btn #btn-3:visited {
  width: 70%;
  background-color: #FFA00A;
  transition: all 0.5s ease-out;
}

ul {
  list-style-type: none;
}
ul .image-check {
  background: url(../image/check.png) 0 0/18px no-repeat;
  background-position: left;
  margin-bottom: 20px;
  line-height: 18px;
  color: #545454;
  padding-left: 28px;
  font-size: 1.1em;
  font-size: 17px;
}/*# sourceMappingURL=style.css.map */