$color_1: rgb(71, 71, 71);
$color_2: rgb(194, 194, 194);
$color_3: white;
$color_4: #fff;
$color_5: #545454;
$background-color_1: #f3f3f3;
$background-color_2: rgba(156, 144, 144, 0);
$background-color_3: #93b874;
$background-color_4: #fff;
$background-color_5: #97ba78;
$background-color_6: #365494;
$background-color_7: #3f82f7;
$background-color_8: #FFCF5A;
$background-color_9: #FFA00A;
$border-color_1: #97ba78;

body {
	background-color: $background-color_1;
}
.wrapper_create_acc{
	a {
		display: flex;
		float: right;
		text-decoration: none;
		color: $color_1;
		.login_txt {
			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
			&:visited {
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
	.login_txt {
		padding-left: 5px;
	}
	h1 {
		margin-bottom: -10px;
	}
}
#row-2 {
	border-right: 2px solid rgb(194, 194, 194);
}
.text_main {
	width: 200px !important;
}
form {
	z-index: inherit;
	.form-control {
		width: 94%;
		padding: 10px;
		border: 2px solid #97ba78;
		border-radius: 0;
		&:focus {
			border: 2px solid #93b874;
		}
	}
	.form-controll {
		&:active {
			border: 2px solid #93b874;
		}
	}
	.check {
		display: flex;
		padding-top: 10px;
	}
	.main {
		display: block;
		position: relative;
		padding-left: 45px;
		margin-bottom: 15px;
		cursor: pointer;
		font-size: 20px;
		input {
			&:checked {
				~ {
					.geekmark {
						background-color: $background-color_3;
						&:after {
							display: block;
						}
					}
				}
			}
		}
		.geekmark {
			&:after {
				left: 8px;
				bottom: 5px;
				width: 6px;
				height: 12px;
				border: solid white;
				border-width: 0 4px 4px 0;
				transform: rotate(45deg);
			}
		}
	}
	input[type=checkbox] {
		visibility: hidden;
	}
	.geekmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		border: 2px solid #93b874;
		background-color: $background-color_2;
		&:after {
			content: "";
			position: absolute;
			display: none;
		}
	}
	.block_1 {
		margin-left: 10px !important;
	}
	.login_or {
		position: relative;
		float: right;
		right: -20px;
		top: -75px;
		background-color: $background-color_4;
		color: $color_2;
	}
}
.btn__create {
	background-color: $background-color_5;
	width: 94%;
	color: $color_3;
	border-color: $border-color_1;
	padding: 10px 20px;
	border-radius: 5px;
}

.sub_login {
	display: block;
	padding-top: 15px;
	.login_info {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: $color_4;
		width: 100% !important;
		height: 58px !important;
		margin-top: 10px;
		img {
			width: 60px;
			margin-left: -20px;
			margin-right: 20px;
		}
	}
	.fb-icon {
		background-color: $background-color_6;
		border: solid 1px #365494;
		border-radius: 5px;
	}
	.google-icon {
		background-color: $background-color_7;
		border: solid 1px #3f82f7;
		border-radius: 5px;
		img {
			margin-left: -20px;
			margin-right: 20px;
			width: 90px;
		}
	}
}
.aside-new-acc{
	.btn__create {
		background-color: $background-color_5;
		width: 94%;
		color: $color_3;
		border-color: $border-color_1;
		padding: 10px 20px;
		border-radius: 5px;
	}
	.submit_btn {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 20px;
		span {
			color: $color_3;
			font-weight: 700;
			font-size: 20px;
		}
		#btn-2 {
			width: 50%;
			background-color: $background-color_8;
			&:hover {
				width: 70%;
				background-color: $background-color_9;
				transition: all 0.5s ease-out;
			}
		}
		#btn-3 {
			&:visited {
				width: 70%;
				background-color: $background-color_9;
				transition: all 0.5s ease-out;
			}
		}
	}
	ul {
		list-style-type: none;
		.image-check {
			background: url(../image/check.png) 0 0/18px no-repeat;
			background-position: left;
			margin-bottom: 20px;
			line-height: 18px;
			color: $color_5;
			padding-left: 28px;
			font-size: 1.1em;
			font-size: 17px;
		}
	}
}
@media screen and (min-width: 992px) {
	.sub_login {
		padding-left: 35px;
	}
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
	.login_info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		color: $color_4;
		width: 100% !important;
		height: 58px !important;
	}
	.sub_login {
		padding-left: 35px;
	}
	.aside-new-acc{
		display: none !important;
	}
}
@media screen and (min-width: 768px) {
	#hidden_head {
		display: none;
	}
	#show-mobile {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.container {
		.hide_head {
			display: none;
		}
		.signup {
			position: relative;
			top: 0;
			float: left;
			border: 1px solid rgb(180, 180, 180);
			width: 50%;
			border-left: none;
			padding: 5px;
			.signup-txt {
				margin: 0 auto;
			}
		}
		.login_or {
			display: none !important;
		}
		#row-2 {
			border-right: none !important;
		}
		.row-mobile {
			border-bottom: 2px solid rgb(194, 194, 194) !important;
			padding-top: 0px;
			padding-bottom: 15px;
		}
		.login_info {
			margin-bottom: 10px;
		}
		.login_or_mobile {
			position: relative;
			float: right;
			right: 50%;
			top: -15px;
			background-color: $background-color_4;
			color: $color_2;
		}
		.form-control {
			width: 100%;
		}
		.btn__create {
			width: 100%;
		}
		.hide-mobile {
			display: none;
		}
		.aside-new-acc{
			display: none !important;
		}
	}
}
