body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.search-bar ul {
  list-style-type: none;
  background-color: #93b874;
  padding: 0;
  margin: 0;
  text-align: center;
}

.search-bar li {
  display: inline-block;
}
img {
  width: 158px;
}
.search-bar li input {
  width: 260px;
  height: 25px;
  background-color: white;
  border: none;
  border-radius: 30px;
  /* display: flex;
  padding: 10px; */
}
.search-bar i {
  font-size: 20px;
  color: white;
}

.search-bar a {
  text-decoration: none;
  color: rgb(41, 51, 41);
  width: 100px;
  display: block;
  padding: 20px 20px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

#login {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 5px;
}
#explore {
  position: absolute;
  top: 5px;
  color: black;
  font-size: 20px;
}

.dropbtn {
  background-color: #93b874;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #161313;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
