.nav_bar_component {
  margin: 0;
  padding: 0;
  background-color: #93b874;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
}
.nav_bar_component .block_image {
  width: 72px;
  height: auto;
  position: relative;
  left: 0;
}
.nav_bar_component .block_image img {
  margin: 10px 10px;
  width: 20px;
  height: auto;
}
@media screen and (min-width: 975px) {
  .nav_bar_component .block_image img {
    display: none;
  }
}
.nav_bar_component .group_items1 {
  display: flex;
  flex-direction: row;
  padding: 10px;
  position: relative;
  left: 0%;
  padding: 5px;
}
@media screen and (max-width: 975px) {
  .nav_bar_component .group_items1 {
    padding: 0;
  }
  .nav_bar_component .group_items1 .logo {
    display: none;
  }
  .nav_bar_component .group_items1 .search_bar {
    display: none;
  }
}
.nav_bar_component .group_items1 .logo {
  padding-top: 12px;
}
.nav_bar_component .group_items1 .logo img {
  width: 158px;
}
.nav_bar_component .group_items1 .search_bar {
  padding-left: 10px;
}
.nav_bar_component .group_items1 .search_bar input {
  padding: 5px;
  width: 260px;
  font-size: 1.25em;
  border: 2px solid #fff;
  border-width: 0 0 2px;
  background-color: #adc996;
  background: none;
  border-radius: 0;
}
.nav_bar_component .group_items1 .search_bar ::-webkit-input-placeholder {
  /* Edge */
  color: white;
}
.nav_bar_component .group_items1 .search_bar button {
  border: none;
  background: none;
}
.nav_bar_component .group_items1 .search_bar button #search-icon {
  margin-right: 0;
  position: relative;
  display: inline-block;
  background-color: #adc996;
  color: #ffffff;
  border-color: #adc996;
  border-radius: 4px;
  width: 80px;
  padding: 10px;
  height: 42px;
}
.nav_bar_component .group_items1 .search_bar button i {
  font-size: 22px;
}
.nav_bar_component .category {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  left: -3%;
  padding: 0;
  margin: 0;
}
.nav_bar_component .category li {
  border: none;
  background: #fff;
  border-radius: 35px;
  margin: 10px;
  box-sizing: border-box;
  height: 45px;
  width: 100px;
  list-style: none;
}
@media screen and (max-width: 975px) {
  .nav_bar_component .category li {
    display: none;
  }
}
.nav_bar_component .category li a .text_pro {
  padding-left: 0;
}
.nav_bar_component .category li a .text_pro .label {
  display: inline-block;
  background: #ffcf5a;
  color: #fff;
  font-size: 1.2em;
  padding: 0.25em 0.6em;
  position: relative;
  left: 0px;
  top: 8px;
  border-radius: 5px;
  font-size: 10px;
}
.nav_bar_component .category li a .nav_icon_pro img {
  float: right;
  position: relative;
  right: 15px;
  top: 12px;
  width: 20px;
}
.nav_bar_component .group_items2 ul {
  margin-bottom: 0;
}
.nav_bar_component .group_items2 ul li:active,
.nav_bar_component .group_items2 ul li:hover {
  background-color: #afd89d;
  color: #afd89d;
}
.nav_bar_component .group_items2 ul li:active a .nav_icon,
.nav_bar_component .group_items2 ul li:hover a .nav_icon {
  scale: 1.2;
}
.nav_bar_component .group_items2 ul li {
  padding: 12px;
  position: relative;
  right: 75%;
  float: right;
  font-size: 14px;
  list-style: none;
  border-right: 1px #89ac6c solid;
  border-left: 1px #89ac6c solid;
}
@media screen and (max-width: 975px) {
  .nav_bar_component .group_items2 ul li {
    display: none;
  }
}
.nav_bar_component .group_items2 ul li a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  text-align: center;
  color: #475347;
  font-weight: bold;
}
.nav_bar_component .group_items2 ul li a .nav_icon {
  width: 55px;
  height: 44px;
  font-size: 25px;
  margin-top: 0px;
}
.nav_bar_component .group_items2 ul li a .text {
  font-size: 10px;
  width: 55px;
  height: 15px;
}
.nav_bar_component .guides {
  position: absolute;
  left: auto;
  left: 11%;
}
@media screen and (min-width: 391px) {
  .nav_bar_component .guides {
    display: none;
  }
}
.nav_bar_component .guides li {
  background: #fabc3b;
  font-size: 13px;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  margin: 0;
  border-radius: 7px;
  border: none;
}
.nav_bar_component .guides li a {
  color: #fff;
  font-weight: bold;
}
.nav_bar_component .guides li a label {
  margin: 2px 2px;
}
@media screen and (min-width: 975px) {
  .nav_bar_component .logo-respon {
    display: none;
  }
}
@media screen and (max-width: 975px) {
  .nav_bar_component .logo-respon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    float: left;
    left: 50%;
    right: 50%;
  }
  .nav_bar_component .logo-respon img {
    width: 100px;
    height: 20px;
    max-width: 112px;
  }
}
.nav_bar_component .respon-search {
  position: absolute;
  float: right;
  right: 50px;
}
@media screen and (min-width: 975px) {
  .nav_bar_component .respon-search {
    display: none;
  }
}
@media screen and (max-width: 975px) {
  .nav_bar_component .respon-search .wrap-search {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 215px;
    width: 210px;
    height: 30px;
    background-color: #adc996;
    border-radius: 5px;
  }
  .nav_bar_component .respon-search .wrap-search #search-ip {
    width: 180px;
    padding: 2px;
    font-size: 13px;
    background: none;
    border: hidden;
  }
  .nav_bar_component .respon-search .wrap-search i {
    margin-right: 0px;
    color: #fff;
    font-size: 17px;
  }
}
@media screen and (max-width: 391px) {
  .nav_bar_component .respon-search {
    display: none;
  }
}
.nav_bar_component .phone-search {
  padding: 0;
  margin: auto !important;
  float: right;
  position: absolute;
  right: 40px;
}
@media screen and (min-width: 391px) {
  .nav_bar_component .phone-search {
    display: none;
  }
}
@media screen and (max-width: 391px) {
  .nav_bar_component .phone-search .wrap-search2 {
    width: 50px;
    height: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
  }
  .nav_bar_component .phone-search .wrap-search2 #search-ph {
    width: 20px;
    padding: 5px;
    font-size: 10px;
    background: none;
    border: hidden;
  }
  .nav_bar_component .phone-search .wrap-search2 i {
    padding: 4px;
  }
}
@media screen and (min-width: 975px) {
  .nav_bar_component .random-ipad {
    display: none;
  }
}
@media screen and (max-width: 975px) {
  .nav_bar_component .random-ipad {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_bar_component .random-ipad i {
    margin-right: 5px;
    font-size: 17px;
    color: #000000;
  }
}

#col {
  padding: 0;
}
#col .help_menu_wrap {
  position: relative;
  top: 82px;
  width: 205px;
  float: right;
  right: 30.85%;
  height: auto;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
#col .help_menu_wrap .sub_help {
  background-color: aliceblue;
  border: 1px solid #91af79;
  padding: 0px;
}
#col .help_menu_wrap .sub_help a {
  display: block;
  text-decoration: none;
  width: 100%;
  color: #669933;
  font-weight: 10px;
  font-size: 18px;
  margin-left: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
}
#col .help_menu_wrap .sub_help a:active, #col .help_menu_wrap .sub_help a:hover {
  background-color: #307530;
  color: #fff;
  margin-left: 0;
  text-decoration: none;
  word-wrap: break-word;
}
#col .help_menu_wrap.open-help {
  max-height: 400px;
}
#col .help_menu_wrap.close-help {
  max-height: 0px;
  transition: max-height 0.1s;
}
#col .login_menu_wrap {
  position: relative;
  top: 82px;
  float: right;
  right: 20.49%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  width: 255px;
}
@media screen and (max-width: 975px) {
  #col .login_menu_wrap {
    display: none;
  }
}
#col .login_menu_wrap .sub_login {
  background-color: #f9f9f9;
  border: 1px solid #91af79;
  padding: 10px;
}
#col .login_menu_wrap .sub_login span {
  font-weight: bold;
  font-size: 20px;
}
#col .login_menu_wrap .sub_login .login_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 235px;
  height: 48px;
  margin-top: 10px;
}
#col .login_menu_wrap .sub_login .login_info i {
  font-size: 40px;
  margin-left: 5px;
}
#col .login_menu_wrap .sub_login .login_info h3 {
  font-size: 20px;
  color: #f9f9f9;
}
#col .login_menu_wrap .sub_login #fb-icon {
  background-color: #365494;
  border: solid 1px #365494;
  border-radius: 5px;
}
#col .login_menu_wrap .sub_login #fb-icon h3 {
  margin-right: 60px;
}
#col .login_menu_wrap .sub_login #google-icon {
  background-color: dodgerblue;
  border: solid 1px dodgerblue;
  border-radius: 5px;
}
#col .login_menu_wrap .sub_login #google-icon h3 {
  margin-right: 75px;
}
#col .login_menu_wrap .sub_login #wiki-icon {
  background-color: #93b874;
  border: 1px solid #93b874;
  border-radius: 5px;
}
#col .login_menu_wrap .sub_login #wiki-icon h3 {
  margin-right: 30px;
}
#col .login_menu_wrap.open-login {
  max-height: 400px;
}
#col .login_menu_wrap.close-login {
  max-height: 0px;
}
#col .sub_menu_wrap {
  position: relative;
  top: 40px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  width: 320px;
}
#col .sub_menu_wrap .sub_menu {
  background-color: #818181;
  padding: 10px;
  padding-left: 0;
}
#col .sub_menu_wrap .sub_menu .text {
  width: 100%;
  height: auto;
  background-color: #989898;
}
#col .sub_menu_wrap .sub_menu .text h2 {
  font-size: 20px;
  margin-left: 5px;
}
#col .sub_menu_wrap .sub_menu .text p {
  padding-top: 20px;
  margin: 10px;
  font-size: 10px;
  color: #dcdcdc;
}
#col .sub_menu_wrap .toggle_info {
  display: flex;
  align-items: center;
  padding: 10px;
}
#col .sub_menu_wrap .toggle_info h3 {
  padding-left: 5px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
#col .sub_menu_wrap .toggle_info i {
  color: #6dde6d;
  font-size: 20px;
}
#col .sub_menu_wrap.open-menu {
  max-height: 900px;
}

.nav_bar_component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=style.css.map */