.main-roadmap {
  padding-top: 113px;
  padding-bottom: 147px;
  background: #FAFBFB 0% 0% no-repeat padding-box;
  opacity: 1;
  opacity: 1;

  .wrap-text-heading {
    text-align: center;
    margin-bottom: 84px;

    .text-heading {
      h1 {
        font-size: 48px;
        line-height: 56px;
        font-family: righteous, cursive;
        text-transform: lowercase;
        color: #021C33;
      }

      p {
        font-size: 24px;
        line-height: 42px;
        font-weight: 500;
        color: #021C33;
        text-transform: lowercase;
      }
    }
  }
  .main-card-wrapper {
    margin-bottom: 84px;

    .sub-heading {
      .sub-infor-wrap {
        text-align: left;
        h2 {
          font-size: 28px;
          line-height: 36px;
          font-family: righteous, cursive;
          text-transform: uppercase;
          color: #021C33;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        p {
          font-size: 16px;
          line-height: 32px;
          text-transform: capitalize;
          color: #34495B;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .main-roadmap {
    padding-top: 50px;
    padding-bottom: 50px;

    .wrap-text-heading {
      text-align: center;
      margin-bottom: 84px;

      .text-heading {
        h1 {
          text-transform: lowercase;
          color: #021C33;
          font-size: 26px;
          line-height: 32px;
          font-family: righteous, cursive;
        }

        p {
          font-size: 16px;
          line-height: 32px;
          color: #021C33;
          text-transform: lowercase;
        }
      }

      .list-items {
        text-align: center;

        ul {
          display: inline;
          list-style-type: none;
        }

        li {
          display: inline-block;

          span {
            background-color: #D9DDE0;
            padding: 4px 15px;
            font-size: 16px;
            color: #021C33;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 25px;
            margin: 7px;
          }
        }
      }
    }

    .sub-heading {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center !important;

      .sub-infor-wrap {
        text-align: center !important;

        h2 {
          font-size: 22px !important;
        }
      }

      .switch-button {
        text-align: center !important;
      }
    }
  }

}