@import "./variables.scss";
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
// h1 { font-size: $h1-fontsize; line-height: 1.45; margin: ($h1-fontsize / 1.5) 0 ($h1-fontsize / 2.5) 0;}
// h2 { font-size: $h2-fontsize; line-height: 1.45; margin: ($h2-fontsize / 1.5) 0 ($h2-fontsize / 2.5) 0;}
// h3 { font-size: $h3-fontsize; line-height: 1.45; margin: ($h3-fontsize / 1.5) 0 ($h3-fontsize / 2.5) 0;}
// h4 { font-size: $h4-fontsize; line-height: 1.45; margin: ($h4-fontsize / 1.5) 0 ($h4-fontsize / 2.5) 0;}
// h5 { font-size: $h5-fontsize; line-height: 1.45; margin: ($h5-fontsize / 1.5) 0 ($h5-fontsize / 2.5) 0;}
// h6 { font-size: $h6-fontsize; line-height: 1.45; margin: ($h6-fontsize / 1.5) 0 ($h6-fontsize / 2.5) 0;}