.space{
    margin-bottom: 8px !important;
}
.header-5{
    margin-bottom: 10px !important;
}
#lng-bar{
    margin-bottom: 30px !important;
}
.sub-scribe-wrapper {
    margin-bottom: 30px !important;
}
.support-wikihow-wrapper{
    margin-bottom: 30px !important;
}
.btn{
    margin-top: 10px !important;
    margin-left: 10px !important;
}
@media only screen and (max-width: 992px) and (min-width: 767px){
    .last-row{
        display: none !important;
    }
    .card-text{
        font-size: .8rem;
    }
}
@media only screen and (min-width: 992px) {
    .ipad{
        display: none !important;
    }
}
.sticky{
    z-index: 1;
}
.sub-title-card{
    font-size: 18px !important;
    font-weight: bold !important;
}