.main-menu-theme{
  background: #F3F4F5;
  padding-top: 79px;
  padding-bottom: 80px;
  opacity: 1;
  .col-menu-theme{
    text-align: left;
  }
  .col-btn-fragment{
    text-align: right;
  }
  .menu-theme-groups{
    .list-inline {
      padding-left: 0;
      list-style: none;
    }
    .list-inline-item {
      display: inline-block;
    }
    ul{
      li{
        margin-top:20px;
        a{
          text-decoration: none;
          font-size: 22px;
          line-height: 42px;
          color:#021C33;
          i.icon-keyboard_arrow_right:before {
            color: #021C33;
  
            font-size: 22px;
            padding-left:23px;
            line-height: 42px;
          }
  
        }
       
      }
    }
  }
  
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .main-menu-theme{
    background: #F3F4F5;
    padding-top: 79px;
    padding-bottom: 80px;
    opacity: 1;
    .col-menu-theme{
      text-align: center;
    }
    .col-btn-fragment{
      text-align: center;
    }
    .menu-theme-groups{
      .list-inline {
        padding-left: 0;
        list-style: none;
      }
      .list-inline-item {
        display: inline-block;
      }
      ul{
        li{
          margin-top:20px;
          a{
            text-decoration: none;
            font-size: 22px;
            line-height: 42px;
            color:#021C33;
            i.icon-keyboard_arrow_right:before {
              color: #021C33;
    
              font-size: 22px;
              padding-left:23px;
              line-height: 42px;
            }
    
          }
         
        }
      }
    }
    
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .main-menu-theme{
    background: #F3F4F5;
    padding-top: 79px;
    padding-bottom: 80px;
    opacity: 1;
    .col-menu-theme{
      text-align: center;
    }
    .col-btn-fragment{
      text-align: center;
    }
    .menu-theme-groups{
      .list-inline {
        padding-left: 0;
        list-style: none;
      }
      .list-inline-item {
        display: inline-block;
      }
      ul{
        li{
          margin-top:unset;
          a{
            text-decoration: none;
            font-size: 22px;
            line-height: 42px;
            color:#021C33;
            i.icon-keyboard_arrow_right:before {
              color: #021C33;
    
              font-size: 22px;
              padding-left:unset;
              line-height: 42px;
            }
    
          }
         
        }
      }
    }
    
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) and (min-width: 575.98px) {
  .main-menu-theme{
    background: #F3F4F5;
    padding-top: 79px;
    padding-bottom: 80px;
    opacity: 1;
    .col-menu-theme{
      text-align: center;
    }
    .col-btn-fragment{
      text-align: center;
    }
    
  }
}