@media (min-width:576px) {
    .dropdown-menu{
        display: block;
        opacity: 0;
        transition: all 0.6s;
    }
    .dropdown:hover .dropdown-menu{
        display: block;
        margin-top: 0;
        opacity: 1;
    }
    
}