.article-text{
    position: absolute;
    color: white;
    bottom:-10%;
}
.article-text:hover{
    background-color: white;
    color: dodgerblue;
}
.btn-text{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 992px){
    .aside-container{
        display: none;
    }
}