.main-our-product {
  padding-top: 50px;
  padding-bottom: 50px;
  .wrap-text-heading {
    text-align: center;
    h1 {
      font-size: 48px;
      line-height: 56px;
      font-family: righteous, cursive;
      text-transform: lowercase;
      color: #021C33;
    }
  }

  .wrap-item {
    margin-top: 100px;

    img {
      width: 100%;
      height: auto;
    }

    .text-subitem {
      display: flex;
      align-items:center;
      justify-content: left;
      width:23rem;
      h2 {
        font-size: 32px;
        line-height: 36px;
        font-family: righteous, cursive;
        text-transform: lowercase;
        color: #021C33;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        font-size: 20px;
        line-height: 32px;
        width: 23rem;
        color: #021C33;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  // .main-our-product {
  //   padding-top: 50px;
  //   padding-bottom: 50px;

  //   .wrap-text-heading {
  //     text-align: center;
  //     h1 {
  //       font-size: 26px;
  //       line-height: 32px;
  //       font-family: righteous, cursive;
  //       text-transform: lowercase;
  //       color: #021C33;
  //     }
  //   }

  //   .wrap-item {
  //     margin-top: 40px;

  //     img {
  //       width: 100%;
  //       height: auto;
  //     }

  //     .text-subitem {
  //       display: flex;
  //       align-items:center;
  //       justify-content: center;
  //       text-align: center;
  //       width: unset;

  //       h2 {
  //         font-size: 22px;
  //         line-height: 32px;
  //         font-family: righteous, cursive;
  //         text-transform: lowercase;
  //         color: #021C33;
  //         display: -webkit-box;
  //         -webkit-line-clamp: 2;
  //         -webkit-box-orient: vertical;
  //         overflow: hidden;
  //         text-overflow: ellipsis;
  //       }

  //       p {
  //         font-size: 16px;
  //         line-height: 32px;
  //         // width: 21rem;
  //         color: #021C33;
  //         display: -webkit-box;
  //         -webkit-line-clamp: 3;
  //         -webkit-box-orient: vertical;
  //         overflow: hidden;
  //         text-overflow: ellipsis;
  //       }
  //     }
  //   }
  // }
  



   .main-our-product {
    padding-top: 50px;
    padding-bottom: 50px;

    .wrap-text-heading {
      text-align: center;
      h1 {
        font-size: 26px;
        line-height: 32px;
        font-family: righteous, cursive;
        text-transform: lowercase;
        color: #021C33;
      }
    }

    .wrap-item {
      margin-top: 40px;
      img {
        width: 100%;
        height: auto;
      }

      .text-subitem {
        display: flex;
        align-items:center;
        justify-content: center;
        text-align: center;
        width: unset;

        h2 {
          font-size: 22px;
          line-height: 32px;
          font-family: righteous, cursive;
          text-transform: lowercase;
          color: #021C33;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        p {
          font-size: 16px;
          line-height: 32px;
          // width: 21rem;
          color: #021C33;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}